<style>
    .stepOrder{opacity: 0.1}
    .form-section .item > .group label.required:before{
        width: 7px;
        height: 7px;
        background-size: cover;
    }
</style>
<div class="wrap-ths clearfix">
    <!--地址信息-->
    <div class="addr-bar">
        <div class="title-item"><h2 class="font14 weight">选择收货地址</h2></div>
        <div class="addr-list">
            <ul class="clearfix">
                <li ng-repeat="address in addressList">
                    <a class="msbox" ng-class="{active: choiceAddressId==address.id}" href="javascript:;"
                       ng-click="choiceAddress(address);">
                        <i class="default" ng-show="address.defaults==true">默认地址</i>
                        <em>{{address.name}}（{{address.regionName}}）</em>
                        <span title="{{address.regionName}}{{address.address}}&nbsp;&nbsp;&nbsp;{{address.phone}}">
                            {{address.regionName}}{{address.address}}&nbsp;&nbsp;&nbsp;{{address.phone}}
                        </span>
                    </a>
                    <span class="tools"><a href="javascript:;" ng-click="updateAddress(address.id)">修改</a><a href="javascript:;" ng-click="deleteAddress(address.id)">删除</a></span>
                </li>
                <li><a class="add-btn" href="javascript:;" ng-click="addAddress()">添加</a></li>
            </ul>
            <a ng-show="showMoreBtn && showBtn" class="more-addr" href="javascript:;" ng-click="moreAdress(showMoreBtn)">显示全部地址<i class="iconfont icon-down"></i></a>
            <a ng-show="!showMoreBtn && showBtn" class="more-addr" href="javascript:;" ng-click="moreAdress(showMoreBtn)">收起地址<i class="iconfont icon-down" style="transform:rotate(180deg);"></i></a>
        </div>
    </div>
    <!--商品-->
    <div class="goods-bar mb10">
        <div class="title-item"><h2 class="font14 weight">确认订单信息</h2><a class="backbtn" ng-href="{{'/#/cart'}}">返回购物车修改</a></div>
        <div class="content">
            <div class="shopping-cart">
                <div class="item-header">
                    <table class="table-items">
                        <tr>
                            <td class="align-c p-name">商品名称</td>
                            <td class="price">单价</td>
                            <td class="number">数量</td>
                            <td class="number">金额</td>
                        </tr>
                    </table>
                </div>
                <div class="itemsbox">
                    <div class="public">
                        <table class="table-items" style="border: none;">
                            <tr ng-repeat="product in productList.cartBos">
                                <td class="info p-name">
                                    <div class="item-xq">
                                        <div class="imgbox" ng-init="property=json2object(product.property)">
                                            <img ng-show="product.pic" ng-src="{{product.pic.slice(0,4)=='http'? product.pic : global.file.url+'/'+product.pic.split(',')[0]}}">
                                        </div>
                                        <a ng-href="{{'/#/product/detail?id=' + product.productId + '&mallId=' + product.mallId}}" target="_blank">{{product.name}}</a>
                                        <div class="color6">
                                            <span ng-repeat="gif in product.gifts" class="gifts">
                                                <span ng-show="gif.buyType=='annex'">
                                                    <s class="weight">附件：</s>{{gif.remark}}
                                                    <s class="no-pay" ng-hide="gif.canBuy"><i class="iconfont icon-tubiao06"></i>附件缺货</s>
                                                </span>
                                                <span ng-show="gif.buyType=='gifts'">
                                                    <s class="weight">赠品：</s>{{gif.remark}}
                                                    <s class="no-pay" ng-hide="gif.canBuy"><i class="iconfont icon-tubiao06"></i>赠品缺货</s>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="no-pay" ng-hide="product.canBuy"><i class="iconfont icon-tubiao06"></i>{{product.msg}}</div>
                                    </div>
                                </td>
                                <!--一口价-->
                                <td class="price" ng-show="product.hasOwnProperty('unitPrice')">{{product.currency | dictionary : 'currency'}}{{product.unitPrice==0 ? '内部协议价' : (product.unitPrice | number : 2)}}</td>
                                <!--价格区间-->
                                <td class="price" ng-show="product.hasOwnProperty('unitPriceMin')">{{product.currency | dictionary : 'currency'}}{{product.unitPriceMin}} - {{product.unitPriceMax | number : 2}}</td>
                                <td class="number">{{product.num}}</td>
                                <td class="number colorRed" ng-show="product.hasOwnProperty('unitPrice')">{{product.currency | dictionary : 'currency'}}{{product.unitPrice*product.num | number : 2}}</td>
                                <td class="number colorRed" ng-show="product.hasOwnProperty('unitPriceMin')">{{product.currency | dictionary : 'currency'}}{{product.unitPriceMin*product.num | number : 2}} - {{product.unitPriceMax*product.num | number : 2}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--填写备注信息-->
            <div class="buyer-say">
                <span>给卖家留言：</span>
                <textarea type="text" class="say-cont" ng-focus="activeSay=true;" ng-blur="activeSay=false" ng-class="{contWrit: activeSay}" ng-model="shoperRemark"></textarea>
                <p class="reminder" ng-show="reminder"><s>温馨提示：</s><s class="word">您选择的商品数量较多，由于仓储调配，可能会延缓到货时间</s></p>
            </div>
        </div>
    </div>
    <!--报销 支付 发票-->
    <div ng-hide="noPay" class="mb80">
        <!--是否需要报销-->
        <div class="order-item" style="overflow: hidden;">
            <div class="title-item">
                <h2 class="font14 weight">是否报销
                    <span class="check-tip" ng-show="alertNeedAt"><i class="icon icon-iconfont06"></i>请选择报销方式</span>
                </h2>
            </div>
            <div class="acount-f" ng-show="productList.canBuySchool==true" ng-class="{'atChoosed':needAcount=='yes'}" ng-click="needAcount='yes'; choosePayType('school');">
                <a class="check" ng-class="{'checkActive':needAcount=='yes'}"></a>
                <p class="tip-ctn">需要到 "{{schoolName}}" 财务报销</p>
                <p class="tip">须关联校内经费信息，可能会根据采购管理办法完成必要审批后订单才能生效</p>
            </div>
            <div class="acount-f ml10" ng-show="productList.canBuyOther==true" ng-class="{'atChoosed':needAcount=='no'}" ng-click="needAcount='no'; choosePayType('other');">
                <a class="check" ng-class="{'checkActive':needAcount=='no'}"> </a>
                <p class="tip-ctn">无需在 "{{schoolName}}" 报销</p>
                <p class="tip">自用或家用，不用公款支付</p>
            </div>
        </div>
        <div ng-show="needAcount=='yes' || needAcount=='no'">
            <!--发票部分-->
            <div class="order-item">
                <div class="title-item">
                    <h2 class="font14 weight">发票信息</h2>
                </div>
                <div class="bill-type">
                    <!--发票类型-->
                    <div class="bill-hd" ng-class="{choosed: $parent.invoiceType == invoice.code}" ng-repeat="invoice in invoiceTypes" ng-click="$parent.invoiceType=invoice.code">{{invoice.name}}
                        <span class="arrow-f" ng-show="$parent.invoiceType == invoice.code ">
                        <span class="arrow"><i class="iconfont icon-check"></i></span>
                    </span>
                    </div>
                    <!--发票抬头-->
                    <span class="mr15">{{invoiceTitle}}</span>
                    <!--发票内容-->
                    <span class="mr15">{{invoiceCtn}}</span>
                    <span class="rewrite" ng-click="editBill=true; $parent.orderBill=true;">修改</span>
                </div>
                <!--修改发票信息-->
                <div class="mask-layer ui-mask" id="bill-pop" ng-show="editBill">
                    <div class="inner fadeInUp" style="margin-top: -350px; height: auto;">
                        <div class="title-gray">
                            <h2 style="font-size: 14px; color: #333">修改发票信息
                                <i class="icon icon-close1 close-mask" ng-click="editBill=false;$parent.orderBill=false;"></i>
                            </h2>
                        </div>
                        <div class="content">
                            <!--电子普通发票提示说明-->
                            <div class="electronic-tip" ng-show="thismallId=='JD'">
                                <p>电子普通发票和纸质普通发票具备同等法律效力，可支持报销入账，京东自营全面启用电子普通发票。</p>
                                <p><a style="color: #005ea7;" target="_blank" href="https://help.jd.com/user/issue/list-505-508.html">电子普通发票相关信息>></a></p>
                            </div>
                            <div class="form-section clearfix">
                                <!--需要报销-->
                                <div ng-show="needAcount=='yes'">
                                    <!--发票抬头-->
                                    <div class="item">
                                        <div class="group">
                                            <label>发票抬头</label>
                                            <div class="bill-type">
                                                <div class="bill-hd choosed right-content">
                                                    <p ng-click="stDown=true;" ng-show="schoolInvoiceMsg.length>1">{{invoiceScholl.name}}</p>
                                                    <p ng-hide="schoolInvoiceMsg.length>1">{{invoiceScholl.name}}</p>
                                                    <i class="icon icon-down down-tip" ng-show="schoolInvoiceMsg.length>1"></i>
                                                    <ul class="school-title" ng-show="schoolInvoiceMsg.length>1 || stDown==true;">
                                                        <li ng-repeat="shInv in schoolInvoiceMsg" ng-click="$parent.invoiceScholl=shInv; $parent.stDown=false;">{{shInv.name}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--纳税人识别号-->
                                    <div class="item">
                                        <div class="group">
                                            <label>纳税人识别号</label>
                                            <div class="bill-type">
                                                <div class="right-content">{{invoiceScholl.tin}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--单位地址-->
                                    <div class="item">
                                        <div class="group">
                                            <label>单位地址</label>
                                            <div class="bill-type">
                                                <div class="right-content">{{invoiceScholl.address}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--开户银行-->
                                    <div class="item">
                                        <div class="group">
                                            <label>开户银行</label>
                                            <div class="bill-type">
                                                <div class="right-content">{{invoiceScholl.bankName}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--开户银行账号-->
                                    <div class="item">
                                        <div class="group">
                                            <label>开户银行账号</label>
                                            <div class="bill-type">
                                                <div class="right-content">{{invoiceScholl.bankCode}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--发票内容-->
                                    <div class="item">
                                        <div class="group">
                                            <label>发票内容</label>
                                            <div class="bill-type">
                                                <div class="bill-hd" ng-class="{choosed : invoices.invoiceContentType=='detail'}" ng-click="invoices.invoiceContentType='detail'; invoiceCtn = '商品明细'">商品明细
                                                    <span class="arrow-f" ng-show=" invoices.invoiceContentType=='detail' ">
                                                    <span class="arrow"><i class="iconfont icon-check"></i></span>
                                                 </span>
                                                </div>
                                                <!--<div class="bill-hd" ng-class="{choosed : invoices.invoiceContentType=='category'}" ng-click="invoices.invoiceContentType='category'; invoiceCtn = '商品类别'">商品类别
                                                    <span class="arrow-f" ng-show=" invoices.invoiceContentType=='category' ">
                                                        <span class="arrow"><i class="iconfont icon-check"></i></span>
                                                    </span>
                                                </div>-->
                                                <p class="cnt-tip">
                                                    <i class="icon icon-information"></i>
                                                    <span style="margin-left: 16px;">发票内容将显示详细商品名称与价格信息</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--收票人手机-->
                                    <div class="item">
                                        <div class="group">
                                            <label class="required">联系电话</label>
                                            <div class="bill-type">
                                                <div class="right-content">{{invoiceScholl.phone}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--按钮-->
                                    <div class="op-btn" style="margin-left: 280px;">
                                        <span ng-click="editBill=false; $parent.orderBill=false; invoiceTitle=invoiceScholl.name; invoices.invoiceId=invoiceScholl.id;">确定</span>
                                    </div>
                                </div>
                                <!--不需报销-->
                                <div ng-show="needAcount=='no'">
                                    <!--发票抬头-->
                                    <div class="item">
                                        <div class="group">
                                            <label>发票抬头</label>
                                            <div class="bill-type">
                                                <div class="bill-hd right-content mb10" ng-class="{choosed: $parent.invoicePerson.name == perInv.name}" ng-repeat="perInv in personInvoiceMsg" ng-click="$parent.invoicePerson=perInv; $parent.addCnt=false;">{{perInv.name}}
                                                    <span class="delInv edInv" ng-click="delInvoicePerson(perInv.id)" ng-hide="perInv.name=='个人'">删除</span>
                                                    <span class="arrow-f" ng-show="$parent.invoicePerson.name == perInv.name">
                                                    <span class="arrow"><i class="iconfont icon-check"></i></span>
                                                </span>
                                                </div>
                                                <div class="right-content new" ng-show="addCnt">
                                                    <input class="add-cnt" type="text" placeholder="请输入发票抬头" ng-model="newInvoice.name">
                                                </div>
                                                <div class="add">
                                                    <span ng-click="addCnt=true;" ng-hide="addCnt==true;">新增单位</span>
                                                    <span class="edInv" ng-click="saveInvoicePerson()" ng-show="addCnt==true;">保存新增</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--纳税人识别号-->
                                    <div class="item" >
                                        <div class="group">
                                            <label class="required">纳税人识别号</label>
                                            <div class="bill-type">
                                                <div class="right-content">
                                                    <input class="add-cnt add-count" type="text" placeholder="请输入纳税识别号" ng-show="addCnt" ng-model="newInvoice.tin">
                                                    <span ng-hide="addCnt">{{invoicePerson.tin}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--发票内容-->
                                    <div class="item">
                                        <div class="group">
                                            <label>发票内容</label>
                                            <div class="bill-type">
                                                <div class="bill-hd" ng-class="{choosed : invoices.invoiceContentType=='detail'}" ng-click="invoices.invoiceContentType='detail'; invoiceCtn = '商品明细'">商品明细
                                                    <span class="arrow-f" ng-show=" invoices.invoiceContentType=='detail' ">
                                                    <span class="arrow"><i class="iconfont icon-check"></i></span>
                                                 </span>
                                                </div>
                                                <!-- <div class="bill-hd" ng-class="{choosed : invoices.invoiceContentType=='category'}" ng-click="invoices.invoiceContentType='category'; invoiceCtn = '商品类别'">商品类别
                                                     <span class="arrow-f" ng-show=" invoices.invoiceContentType=='category' ">
                                                         <span class="arrow"><i class="iconfont icon-check"></i></span>
                                                     </span>
                                                 </div>-->
                                                <p class="cnt-tip">
                                                    <i class="icon icon-information"></i>
                                                    <span style="margin-left: 16px;">发票内容将显示详细商品名称与价格信息</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--收票人手机-->
                                    <div class="item">
                                        <div class="group">
                                            <label class="required">收票人手机</label>
                                            <div class="bill-type">
                                                <div class="right-content">
                                                    <input class="add-cnt add-count" style="width: 197px;" type="text" placeholder="请输入手机号码" ng-show="addCnt" ng-model="newInvoice.phone">
                                                    <span ng-hide="addCnt">{{invoicePerson.phone}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--按钮-->
                                    <div class="op-btn">
                                        <span ng-click="editBill=false; $parent.orderBill=false; invoiceTitle=invoicePerson.name; invoices.invoiceId=invoicePerson.id">确认修改</span>
                                        <span class="cancel" ng-click="editBill=false; $parent.orderBill=false;">取消</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--支付方式部分-->
            <div class="order-item">
                <div class="title-item">
                    <h2 class="font14 weight">支付方式</h2>
                </div>
                <div class="bill-type" ng-init="chosePay = 0;">
                    <!--需要报销-->
                    <div class="bill-hd" ng-show="needAcount=='yes'" ng-class="{choosed:$parent.chosePay==$index }" ng-repeat="type in productList.payTypes.school" ng-click="$parent.PaymentType=type.code; $parent.chosePay=$index;">&nbsp;{{type.name}}
                        <span>(刷公务卡)</span>
                        <span class="arrow-f" ng-show="$parent.chosePay==$index ">
                            <span class="arrow"><i class="iconfont icon-check"></i></span>
                        </span>
                        <i class="icon icon-wenhao how-pay"></i>
                        <!--支付方式提示文字-->
                        <div class="pay-detail card" style="width: 305px;">
                            <p class="word" >{{type.remark}}</p>
                            <div class="cart-img">
                                <img src="../images/bill1.jpg">
                                <img class="ml5" src="../images/bill2.jpg">
                            </div>
                        </div>
                    </div>
                    <!--不需要报销-->
                    <div class="bill-hd mrs" ng-show="needAcount=='no'" ng-class="{choosed:$parent.chosePay==$index }" ng-repeat="type in productList.payTypes.other" ng-click="$parent.PaymentType=type.code; $parent.chosePay=$index;">&nbsp;{{type.name}}
                        <span class="arrow-f" ng-show="$parent.chosePay==$index ">
                            <span class="arrow"><i class="iconfont icon-check"></i></span>
                        </span>
                        <i class="icon icon-wenhao how-pay"></i>
                        <!--支付方式提示文字-->
                        <div class="pay-detail arrival">
                            <p class="word">{{type.remark}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--线下议价信息-->
    <div ng-show="shoperBargain" class="mb10">
        <div class="title-item"><h2 class="font14 weight">线下议价</h2></div>
        <div class="down-line">
            <div class="org-tl" style="color: #666">
                <div class="og-name">供应商</div>
                <div class="og-tel">电话</div>
                <div class="gd-name">商品名称</div>
            </div>
            <div class="org-tl content" ng-repeat="org in orgMsg">
                <div class="og-name">{{org.name}}</div>
                <div class="og-tel">{{org.mobile}}</div>
                <div class="gd-name">
                    <p ng-repeat="prt in org.carts">{{prt.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <!----结算部分---->
    <div class="jiesuan-top">
        <p class="mb5">
            <label class="account-tl">总计：</label>
            <span class="result" ng-show="productList.sumPrice">￥{{productList.sumPrice | number:2}}</span>
            <span class="result" ng-show="productList.sumPriceMin">￥{{productList.sumPriceMin | number:2}}</span>
            <span class="result" ng-show="productList.sumPriceMax"> - ￥{{productList.sumPriceMax | number:2}}</span>
        </p>
        <p class="mb5">
            <label class="account-tl">运费：</label>
            <span class="result">¥ {{productList.freight | number:2}}</span>
        </p>
    </div>
    <div class="jiesuan clearfix">
        <div class="float-r align-r">
            <p class="tongji mb10">
                <span class="font13" ng-show="savesPay>0">节省总额：</span>
                <em class="font14 weight colorRed" ng-show="savesPay>0">
                    <span class="result colorgreen">￥{{savesPay | number:2}}</span>
                </em>
                <span class="ml20 font13">应付总额：</span>
                <em class="font18 weight colorRed">
                    <!--一口价-->
                    <small>¥ {{productList.payPrice | number: 2}}</small>
                </em>
            </p>
            <ul class="clearfix">
                <li><span>寄送至：</span>{{sureAddress.regionName}}{{sureAddress.address}}</li>
                <li><span>收货人：</span>{{sureAddress.name}}<span class="ml5">{{sureAddress.phone}}</span></li>
            </ul>
            <div class="check-bar" ng-show="esMall && thismallId!='JD' ">
                <a href="javascript:;" ng-click="shoperBargain=!shoperBargain" ng-class="{'active':shoperBargain==true}">是否期望线下议价
                    <i class="iconfont icon-information pointer" style="margin-left: 6px;"></i>
                </a>
                <div class="message-box">
                    <span>勾选【期望线下议价】后，供应商无法直接确认订单，需联系您商议价格后，才能确认订单！</span>
                    <div class="triangle-character tc-border">◆</div>
                    <div class="triangle-character tc-background">◆</div>
                </div>
            </div>
        </div>
    </div>
    <!--提交-->
    <div class="order-sub">
        <a class="submit sure-sb" href="javascript:;" ng-click="submit()" ng-hide="doSub || noPay">确认订单信息</a>
        <a class="submit sure-sb" href="javascript:;" ng-show="doSub">确认中···</a>
        <a class="submit" href="javascript:;" style="cursor: not-allowed; background: #bbb;" ng-show="noPay">确认订单信息</a>
    </div>
</div>
<!--添加地址-->
<div class="mask-layer" ng-class="{fadeInDown:fadeInDown}" ng-show="maskShow == true">
    <div class="inner add-address fadeInUp">
        <div class="title-gray"><h2 class="font14"><span ng-show="id">修改</span><span ng-hide="id">新增</span>收货地址</h2><a class="close" href="javascript:;" ng-click="maskShow=false"><i class="iconfont icon-close1"></i></a></div>
        <div class="content">
            <form name="form">
                <div class="form-section clearfix">
                    <div class="item">
                        <div class="group">
                            <label class="required">收货人：</label>
                            <input class="new-field" type="text" name="name" ng-model="personAddress.name" placeholder="请输入收货人姓名" required />
                            <ul ng-show="form.name.$dirty">
                                <li style="color: #d95f68; line-height: 28px; padding-left: 10px;" ng-show="form.name.$error.required"><span>请填写收货人地址</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="group">
                            <label class="required">收货地址：</label>
                            <div class="new-select clearfix">
                                <div class="ul-f">
                                    <!--省-->
                                    <ul class="item-ul">
                                        <li ng-click="listP=true;" ng-init="pVal='请选择'">{{pVal}}</li>
                                        <li ng-show="listP">
                                            <ul class="ul-list">
                                                <li ng-repeat="p in provinceList" ng-click="chPro(p.code, p.name);">{{p.name}}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!--市/区-->
                                    <ul class="item-ul" ng-show="cityList.length>0">
                                        <li ng-click="listCity=true;">{{cVal}}</li>
                                        <li ng-show="listCity">
                                            <ul class="ul-list ul-lscity">
                                                <li ng-repeat="c in cityList" ng-click="chCty(c.code, c.name);">{{c.name}}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!--县-->
                                    <ul class="item-ul" ng-show="countyList.length>0">
                                        <li ng-click="listCot=true;">{{cyVal}}</li>
                                        <li ng-show="listCot">
                                            <ul class="ul-list ul-lscouty">
                                                <li ng-repeat="cy in countyList" ng-click="chCounty(cy.code, cy.name);">{{cy.name}}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!--乡镇-->
                                    <ul class="item-ul" ng-show="townList.length>0">
                                        <li ng-click="listT=true;">{{tVal}}</li>
                                        <li ng-show="listT">
                                            <ul class="ul-list ul-lscouty">
                                                <li ng-repeat="tw in townList" ng-click="chTown(tw.code, tw.name);">{{tw.name}}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="group">
                            <label class="required">详细地址：</label>
                            <input class="new-field" type="text" name="address" ng-model="personAddress.address" placeholder="请输入详细地址" required/>
                            <ul ng-show="form.address.$dirty">
                                <li style="color: #d95f68; line-height: 28px; padding-left: 10px;" ng-show="form.address.$error.required"><span>请输入详细地址</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="group">
                            <label class="required">电话号码：</label>
                            <input class="new-field" type="phone" name="phone" ng-model="personAddress.phone" placeholder="请输入电话号码" required/>
                            <ul ng-show="form.phone.$dirty">
                                <li style="color: #d95f68; line-height: 28px; padding-left: 10px;" ng-show="form.phone.$error.required"><span>请输入电话号码</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="item">
                        <div class="group">
                            <label>固定电话：</label>
                            <div class="fixed-phone">
                                <input class="new-field fixed" type="text" placeholder="" /><input class="new-field" type="text" placeholder="" />
                            </div>
                        </div>
                    </div>-->
                    <div class="item">
                        <div class="group">
                            <label class="required">电子邮箱：</label>
                            <input class="new-field" type="text" name="email" ng-model="personAddress.email" placeholder="请输入邮箱" required />
                            <ul ng-show="form.email.$dirty">
                                <li style="color: #d95f68; line-height: 28px; padding-left: 10px;" ng-show="form.email.$error.required"><span>请输入邮箱号码</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="group new-checkbox">
                            <a ng-class="{checked:personAddress.defaults}" href="javascript:;" ng-click="personAddress.defaults=!personAddress.defaults"><i></i>设为默认收货地址</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="group">
                            <a class="red-btn font14" style="padding: 3px 10px;" href="javascript:;" ng-click="addSubmit()">确认收货地址</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




