
<div class="wrap-ths clearfix">
	<div class="shopping-cart">
		<div class="item-header">
			<table class="table-items">
				<tr>
					<td class="checkbox">
					</td>
					<td>商品</td>
					<td class="price">单价</td>
					<td class="number">数量</td>
					<td class="price">小计</td>
					<td class="btns">操作</td>
				</tr>
			</table>
		</div>
		<div class="no-data-tip" ng-show="mallList.length==0">
			<span></span>
			<i ng-show="o==null">购物车内暂时没有商品，登录后将显示您之前加入的商品~&nbsp;&nbsp;
				<a class="cart-login" ng-show="canTwoCode" ng-click="showLogin()">&nbsp;&nbsp;登录&nbsp;&nbsp;</a>
				<a class="cart-login" ng-show="!canTwoCode" ng-href="{{getLoginUrlMall()}}">&nbsp;&nbsp;登录&nbsp;&nbsp;</a>
				<a class="colorDarkBlue" href="#">&nbsp;&nbsp;去选购&nbsp;&nbsp;</a>
			</i>
			<i ng-show="o!=null">购物车内暂时没有商品~&nbsp;&nbsp;<a class="colorDarkBlue" href="#">&nbsp;&nbsp;去选购&nbsp;&nbsp;</a></i>
		</div>
		<div class="itemsbox"  ng-show="mallList.length>0">
			<!--商城-->
			<div class="mall-ct" ng-repeat="mall in mallList" repeat-finish="setCartBtnCl();">
				<div class="mall-name">
					<input type="checkbox" ng-checked="isMallChecked(mall)" ng-click="checkMall(mall)">
					<img ng-src="{{global.file.url}}/{{mall.logo}}" style="width: 40px; vertical-align: middle;">
					<a class="weight" href="javascript:;">{{mall.name}}</a>
					<div class="mall-btn" ng-init="showMall=true;" ng-show="showMall" ng-click="showMall=false;">
						<span class="iconfont icon-shouqi1" ></span>
						收起
					</div>
					<div class="mall-btn" ng-hide="showMall" ng-click="showMall=true;">
						<span class="iconfont icon-zhankai1-copy" ></span>
						展开
					</div>
				</div>
				<!--店铺-->
				<div ng-show="showMall">
					<div class="public" ng-repeat="store in mall.storeList">
						<div class="header header-cart">
							<input type="checkbox" ng-checked="isStoreChecked(store)" ng-click="checkStore(store)">
							<a class="weight" href="javascript:;">{{store.name}}</a>
						</div>
						<table class="table-items">
							<!--每个商品-->
							<tr ng-repeat="product in store.productList" ng-class="{'choosed':product.checked}">
								<td class="checkbox">
									<input name="goods" type="checkbox" ng-checked="product.checked" ng-click="checkProduct(product, !product.checked)">
								</td>
								<td class="info">
									<div class="item-xq">
										<div class="imgbox" ng-init="property=json2object(product.property)">
											<img
												 ng-src="{{product.pic.substring(0,4) == 'http' ? product.pic : global.file.url + '/' + product.pic.split(',')[0] + '@50x50.png'}}">
										</div>
										<a ng-href=" {{ '/#/product/detail?mallId=' + product.mallId + '&id=' + product.productId}}" target="_blank">{{product.name}}</a>
										<!--<div class="no-pay" ng-hide="product.canBuy"><i class="iconfont icon-tubiao06"></i>{{product.msg}}</div>-->
										<!--<div class="no-pay"><i class="iconfont icon-tubiao06"></i>库存不足</div>-->
									</div>
								</td>
								<!--一口价-->
								<td class="price" ng-show="product.hasOwnProperty('unitPrice')">
									<p>￥{{product.unitPrice==0 ? '内部协议价' : (product.unitPrice | number : 2)}}</p>
									<s class="color9 linethrough" ng-show="product.hasOwnProperty('unitPriceShow')">￥{{(product.unitPriceShow | number : 2)}}</s>
								</td>
								<!--价格区间-->
								<td class="price" ng-show="product.hasOwnProperty('unitPriceMin')">￥{{product.unitPriceMin | number:2}} - {{product.unitPriceMax | number:2}}</td>
								<td class="number">
									<div class="pt-num">
										<button ng-class="{'not-allowed': product.num<=1}" ng-click="reduceCart(product)">-</button>
										<input type="text" maxlength="4" ng-model="product.num" ng-blur="blurCart(product)" ng-keyup="checkNun(product.num)">
										<button class="add" ng-click="addCart(product)" ng-class="{'not-allowed': product.num>=9999}">+</button>
										<!--<span class="tips colorRed" ng-show="cart.cartNum>=cart.num+1">库存数量不足！</span> -->
									</div>
								</td>
								<td class="price colorRed" ng-show="product.hasOwnProperty('unitPrice')">
									<p class="font14">￥{{product.unitPrice*product.num | number : 2}}</p>
									<s class="colorgreen" ng-show="product.unitPriceShow-product.unitPrice>0"><span class="color9 font12">省:</span>￥{{(product.unitPriceShow-product.unitPrice)*product.num | number : 2}}</s>
								</td>
								<td class="price colorRed" ng-show="product.hasOwnProperty('unitPriceMin')">￥{{product.unitPriceMin*product.num | number : 2}} - {{product.unitPriceMax*product.num | number : 2}}</td>
								<td class="btns">
									<a href="javascript:;" ng-click="cartDelete(product.id, null)">删除</a>
								</td>
							</tr>
						</table>
					</div>
					<!--总计-->
					<div class="summary-bar clearfix">
						<label>
							<input type="checkbox" ng-checked="isMallChecked(mall)" ng-click="checkMall(mall)">全选
							<!--<input type="checkbox">全选-->
						</label>
						<div class="tools ml30">
							<a href="javascript:;" ng-click="cartDelete(null, mall.id)">删除选中的商品</a>
						</div>
						<div class="checkout">
							<span>已选择商品<em class="weight colorRed font16">&nbsp;{{getTotalNum(mall)}}&nbsp;</em>件</span>
							<span ng-show="getSaveTotal(mall).CNY">节省总额：
								<em class="weight colorgreen font14">
									<small ng-repeat="(currency, priceSave) in getSaveTotal(mall)">
										{{currency | dictionary : 'currency'}} {{priceSave | number: 2}}
									</small>
								</em>
							</span>
							<span>总计：
								<em class="weight colorRed font16">
									<!--一口价-->
									<small ng-show="price" ng-repeat="(currency, price) in getTotalPrice(mall)">
										<small ng-show="$index > 0"> + </small>
										{{currency | dictionary : 'currency'}} {{price | number: 2}}
									</small>
									<!--<small ng-bind="getTotalPrice().length()"></small> -->
									<!--价格区间-->
									<small ng-show="price" ng-repeat="(currency, price) in getTotalPriceMin(mall)">
										<small ng-show="$index > 0"> + </small>
										{{currency | dictionary : 'currency'}} {{price | number: 2}} -
									</small>
									<small ng-show="price" ng-repeat="(currency, price) in getTotalPriceMax(mall)">
										<small ng-show="$index > 0"> + </small>
										{{price | number: 2}}
									</small>
								</em>
							</span>
							<a class="red-btn font18 weight" ng-class="{'not-allowed':addCartNum==0}" href="javascript:;" ng-click="order(mall.id)">立即下单</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





