<div id="hotsale">
    <div class="hot_Sale_banner"></div>
    <div class="hot_Sale_list" ng-repeat="list in products">
        <div class="hot_center">
            <h3 class="floor_tit">{{list.name}}</h3>
        </div>
        <ul class="hot_ul">
            <li class="hot_ul_li" ng-repeat="prt in list.data">
                <img ng-src="{{prt.pic}}" alt="">
                <p class="hot_ul_p1">{{prt.name}}</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>{{prt.unitPriceShow}}</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a ng-href="/#/product/detail?mallId={{prt.mallId}}&id={{prt.id}}" target="_blank">立即抢购</a>
                </p>
            </li>
        </ul>
    </div>
</div>