<div id="hotsale">
    <div class="hot_Sale_banner">
        <h3 class="floor_tit">办公用品</h3>
    </div>
    <div class="hot_Sale_list">
        <ul class="hot_ul">
            <li class="hot_ul_li">
                <img src="../images/hotSale/hotSale01.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li class="hot_ul_li  loot_all">
                <img src="../images/hotSale/hotSale02.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">已抢光</a>
                </p>
            </li>
            <li class="hot_ul_li">
                <img src="../images/hotSale/hotSale01.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li class="hot_ul_li">
                <img src="../images/hotSale/hotSale02.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li>
                <img src="../images/hotSale/hotSale01.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li>
                <img src="../images/hotSale/hotSale02.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li>
                <img src="../images/hotSale/hotSale01.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li>
                <img src="../images/hotSale/hotSale02.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
           
        </ul>

        <div class="hot_center">
            <h3 class="floor_tit">数码家电</h3>
        </div>

        <ul class="hot_ul">
            <li class="hot_ul_li">
              <img src="../images/hotSale/hotSale01.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li class="hot_ul_li  loot_all">
                <img src="../images/hotSale/hotSale02.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">已抢光</a>
                </p>
            </li>
            <li class="hot_ul_li">
                <img src="../images/hotSale/hotSale01.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li class="hot_ul_li">
                <img src="../images/hotSale/hotSale02.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li>
                <img src="../images/hotSale/hotSale01.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li>
                <img src="../images/hotSale/hotSale02.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li>
                <img src="../images/hotSale/hotSale01.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>
            <li>
                <img src="../images/hotSale/hotSale02.png" alt="">
                <p class="hot_ul_p1">嘉士利威化饼干 草莓/芒果/巧克力3包共345g代餐零食早餐糕点吃货</p>
                <p class="hot_ul_p2">
                    <span>&nbsp;&nbsp;<i>￥</i><strong>18.99</strong>&nbsp;&nbsp;<s>24.00</s></span>
                    <a href="">立即抢购</a>
                </p>
            </li>

        </ul>





    </div>

</div>