<!DOCTYPE html><html ng-app="app"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=yes">
    <meta name="description" content="商城">
    <title ng-bind="titleTab"></title>
    <link rel="icon" type="image/png" ng-href="{{tlImg}}">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_99767_9l1a6ntsw76.css">
    <link rel="stylesheet" type="text/css" href="//static.yuncaitong.cn/asset/swiper/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="//static.yuncaitong.cn/js/sweetalert/sweetalert2.min.css">
</head>
    <body ng-controller="AppController">
        <!--微信 登录 绑定-->
        <login-bind ng-if="bindMask"  access-token="{{accessToken}}" close-bind="closeBind();" show-bind="showBind()" bind-already="bindAlready()" wei-users="weiUsers()"></login-bind>
        <to-login ng-if="loginMask" school-url="{{schoolLoginUrl}}" close-login="closeLogin();"></to-login>

        <div malllogin-dialog></div>
        <div ui-view></div>
        <script src="vendors.dll.js"></script>
        <script>var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?fcd476230e7f00fae6db6b1a1376c1bc";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
        <script type="text/javascript" src="bundle.js?3c2ec&3c2ec66c46ea855c2f9b"></script>
    </body>
</html>