<style>
    .cart-top{margin-top: 22px; position: relative;}
    .cart-top .view-btn{line-height: 32px;}
    .cart-top .drop-list{top:34px; right: 0;}
    .top-search{float: right; width: 240px; margin-left: 40px; top: 22px;}
    .top-search .search-panel-fields input[type=text]{width: 200px;}
    .top-search .search-panel-fields button{background: #ddd; color: #333; height: 31px; top: 2px;}
    .top-search .search-panel-fields button:hover{background: #ccc;}
    .top-search .down-search{width: 235px; top: 33px;}
</style>
<div ui-view="head"></div>
<div id="person-msg">
    <div class="person_headtop">
        <div class="w1200">
            <div class="headtop_left">个人中心</div>
            <ul class="headtop_center">
                <!--<li><a href="">首页</a></li>
                <li><a href="">账户管理</a></li>
                <li><a href="">消息</a></li>-->
            </ul>
            <!--购物车-->
            <div class="cart-top home-cart">
                <a class="view-btn" ng-href="{{'/#/cart'}}" target="_blank">
                    <i class="iconfont icon-shopping2"></i>
                    我的购物车
                    <span ng-bind="allCartNum"></span>
                </a>
                <div class="drop-list">
                    <div class="empty" ng-hide="cartList.length >= 1">
                        <p class="font14 mb15">购物车还没有商品，赶紧选购吧！</p>
                        <span ng-show="o==null">
                            <a ng-show="canTwoCode" ng-click="showLogin()">登录</a>
                            <a ng-show="!canTwoCode" ng-href="{{getLoginUrlMall()}}">登录</a>
                        </span>
                    </div>
                    <div class="items-list" ng-show="cartList.length >= 1">
                        <div style="max-height: 380px; overflow-y: scroll;">
                            <div class="item" ng-repeat="cart in cartList">
                                <a class="name" target="_blank" ng-href="{{'/#/product/detail?mallId='+cart.mallId+'&id='+cart.productId}}">{{cart.name}}</a>
                                <div class="info">
                                    <p>
                                        <span ng-show="cart.hasOwnProperty('unitPrice')">￥{{cart.unitPrice==0 ? '内部协议价' : (cart.unitPrice | number : 2)}} x {{cart.num}}</span>
                                        <span ng-show="cart.hasOwnProperty('unitPriceMin')">￥{{cart.unitPriceMin}} - ¥{{cart.unitPriceMax}} x {{cart.num}}</span>
                                    </p>
                                    <p>
                                        <a class="del" href="javascript:;" ng-click="dellCart(cart.id)">删除</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="stats clearfix">
                            <p class="float-l">
                                <span>共<em class="colorRed">{{allCartNum}}</em>件商品</span>
                                <span class="ml10">
                                    共计
                                    <em class="colorRed">
                                        <!--一口价-->
                                        <span ng-show="price" ng-repeat="(currency, price) in allPriceMap">
                                            <span ng-show="$index > 0"> + </span>
                                            {{currency | dictionary:'currency'}}{{price | number: 2}}
                                        </span>
                                        <!-- 价格区间-->
                                        <span ng-show="price" ng-repeat="(currency, price) in allPriceMapMin">
                                            <span ng-show="$index > 0"> + </span>{{currency | dictionary:'currency'}}{{price | number: 2}} -
                                        </span>
                                         <span ng-show="price" ng-repeat="(currency, price) in allPriceMapMax">
                                            <span ng-show="$index > 0"> + </span>{{price | number: 2}}
                                        </span>
                                    </em>
                                </span>
                            </p>
                            <a class="float-r red-btn" ng-href="{{'/#/cart'}}" target="_blank">去购物车</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--搜索框-->
            <div class="top-search">
                <div class="search-panel-fields">
                    <input ng-model="$root.keyword" type="text" ng-keyup="keySearch($event);" ng-blur="downSearch=false;" ng-focus="downSearch=true;"/>
                    <button type="button" ng-click="search()">搜索</button>
                    <!--关键字提醒-->
                    <ul class="down-search" ng-show="keys.length>0 && downSearch">
                        <li ng-repeat="key in keys" ng-mousedown="$root.keyword=key[0]; search()" ng-class="{keyBack: $parent.thisKey==$index}">{{key[0]}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar_l">
            <dl>
                <dt><i class="icon icon-ruzhu"></i>订单中心</dt>
                <dd><a class="item" ng-class="{'active': currentPath=='orders'}" ng-href="#/orders">我的订单</a></dd>
            </dl>
            <dl>
                <dt><i class="icon icon-yonghu"></i>个人信息</dt>
                <dd><a class="item" ng-class="{'active': currentPath=='person/core'}" ng-href="#/person/core">基本信息</a></dd>
            </dl>
            <dl>
                <dt><i class="icon icon-yonghu"></i>我的关注</dt>
                <dd><a class="item" ng-class="{'active': currentPath=='person/collect'}" ng-href="#/person/collect">关注商品</a></dd>
            </dl>
        </div>
        <div class="side_r" ui-view></div>
    </div>
</div>
<div ui-view="foot"></div>