
<style>
    .yct-top .yctlogo .logo a{height: 50px;}
    .yct-top .yctlogo .c-name{line-height: 50px; margin-left: 10px; font-size: 20px;}
    .top-search{margin-top: 2px;}
    .top-search .search-panel-fields input[type=text]{width: 310px; float: right;}
    .top-search .down-search{top: 35px;left: 90px;width: 266px;}
    .top-search .channel{width: 110px;  }
    .top-search .channel-sure{height: 31px; line-height: 31px;}
    .top-search .channel-down{top: 32px;}
</style>

<div ui-view="head"></div>
<!-----顶部----->
<div class="header" style="background: #fff">
    <div class="yct-top">
        <div class="wrap clearfix">
            <!--购物车-->
            <div class="cart-top home-cart">
                <a class="view-btn" ng-href="{{'/#/cart'}}" target="_blank">
                    <i class="iconfont icon-shopping2"></i>
                    我的购物车
                    <span ng-bind="allCartNum"></span>
                </a>
                <div class="drop-list">
                    <div class="empty" ng-hide="cartList.length >= 1">
                        <p class="font14 mb15">购物车还没有商品，赶紧选购吧！</p>
                        <a ng-show="o==null" ng-href="{{getLoginUrlMall()}}">登录</a>
                    </div>
                    <div class="items-list" ng-show="cartList.length >= 1">
                        <div style="max-height: 380px; overflow-y: scroll;">
                            <div class="item" ng-repeat="cart in cartList">
                                <a class="name" target="_blank" ng-href="{{'/#/product/detail?mallId='+cart.mallId+'&id='+cart.productId}}">{{cart.name}}</a>
                                <div class="info">
                                    <p>
                                        <span ng-show="cart.hasOwnProperty('unitPrice')">￥{{cart.unitPrice==0 ? '内部协议价' : (cart.unitPrice | number : 2)}} x {{cart.num}}</span>
                                        <span ng-show="cart.hasOwnProperty('unitPriceMin')">￥{{cart.unitPriceMin}} - ¥{{cart.unitPriceMax}} x {{cart.num}}</span>
                                    </p>
                                    <p>
                                        <a class="del" href="javascript:;" ng-click="dellCart(cart.id)">删除</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="stats clearfix">
                            <p class="float-l">
                                <span>共<em class="colorRed">{{allCartNum}}</em>件商品</span>
                                <span class="ml10">
                                    共计
                                    <em class="colorRed">
                                        <!--一口价-->
                                        <span ng-show="price" ng-repeat="(currency, price) in allPriceMap">
                                            <span ng-show="$index > 0"> + </span>
                                            {{currency | dictionary:'currency'}}{{price | number: 2}}
                                        </span>
                                        <!-- 价格区间-->
                                        <span ng-show="price" ng-repeat="(currency, price) in allPriceMapMin">
                                            <span ng-show="$index > 0"> + </span>{{currency | dictionary:'currency'}}{{price | number: 2}} -
                                        </span>
                                         <span ng-show="price" ng-repeat="(currency, price) in allPriceMapMax">
                                            <span ng-show="$index > 0"> + </span>{{price | number: 2}}
                                        </span>
                                    </em>
                                </span>
                            </p>
                            <a class="float-r red-btn" ng-href="{{'/#/cart'}}" target="_blank">去购物车</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--当前商城 logo-->
            <div class="yctlogo">
                <div class="logo" style="float: left;">
                    <a href="#">
                        <img style="height: 100%; float: left;" ng-src="{{tlImg}}">
                        <div class="c-name">{{titleMall}}</div>
                    </a>
                </div>
            </div>
            <!--搜索框-->
            <div class="top-search">
                <div class="search-panel-fields" ng-mouseleave="downSearch=false;">
                    <input ng-model="$root.keyword" type="text" ng-keyup="keySearch($event); downSearch=true;"/>
                    <button type="button" ng-click="search()">
                        搜索
                    </button>
                    <!--关键字提醒-->
                    <ul class="down-search" ng-show="keys.length>0 && downSearch">
                        <li ng-repeat="key in keys" ng-click="$root.keyword=key.0; search()" ng-class="{keyBack: $parent.thisKey==$index}">{{key[0]}}</li>
                    </ul>
                </div>
                <!--搜索频道-->
               <!-- <div class="channel channel-sure" ng-mouseenter="chaDown=true;" ng-mouseleave="chaDown=false;">{{nowChannel}}<i class="iconfont icon-down"></i></div>
                <ul class="channel channel-down" ng-show="chaDown" ng-mouseenter="chaDown=true;" ng-mouseleave="chaDown=false;">
                    <li ng-click="sureChannel('全部商品')"><a>全部商品</a></li>
                    <li ng-click="sureChannel(mall)" ng-repeat="mall in mallMsg"><a>{{mall.mallSimpleName}}</a></li>
                </ul>-->
            </div>
        </div>
    </div>
</div>
<div class="main" id="main-content">
    <div ui-view></div>
</div>
<div ui-view="foot"></div>

