<div id="person_msg">
    <div class="person_sibal">
        <h1>基本信息</h1>
        <div class="person_sibab">
            <p>
                <label for="user"> 用户名：</label><input type="text"  placeholder="请输入用户名"  id="user">
            </p>
            <p>
                性别：
                <input type="radio" name="sex"  checked>男
                <input type="radio" name="sex">女
                <input type="radio" name="sex">保密
            </p>
            <p>
                <label for="tel"> 手机：&nbsp;&nbsp;&nbsp;</label><input type="text"  placeholder="请输入手机号"  id="tel">
            </p>
            <p>
                <label for="email"> 邮箱：&nbsp;&nbsp;&nbsp;</label><input type="text"  placeholder="请输入邮箱"  id="email">
            </p>
            <p>
                <label for="school">学校：&nbsp;&nbsp;&nbsp;</label><input type="text"  placeholder="请输入学校名"  id="school">
            </p>
        </div>
        <button class="person_btn">保存</button>
    </div>
</div>