<div class="pay-ctn">
    <div class="pay">
        <p class="success-word"><i class="icon icon-zichan"></i><span>验收入账成功！您可以在学校资产系统查看资产入账业务的最新进度！</span></p>
        <div class="see-order">
            <a class="btn" ng-href="/#/orders">返回我的订单</a>
        </div>
    </div>
</div>
<div class="success-orders order-details" style="margin-top: 50px;">
    <div class="item-info">
        <div class="item-list">
            <table style="font-size: 12px; margin-bottom: 30px;">
                <tbody>
                    <tr>
                        <th colspan="2">商品</th>
                        <th style="text-align:right;">数量</th>
                        <th style="text-align:right; width: 110px">总价</th>
                    </tr>
                    <tr ng-repeat="product in products">
                        <td colspan="2" style=" white-space: inherit;" class="info-box" ng-init="property=json2object(product.property)">
                            <div class="item-xq">
                                <button class="imgbox">
                                    <img ng-src="{{product.pic.indexOf('http')!=-1? product.pic: global.file.url+'/'+ product.pic}}">
                                </button>
                                <a ng-href=" {{'/#/product/detail?id=' + product.productId + '&mallId=' + order.mallId}}" target="_blank">{{product.name}}</a>
                            </div>
                        </td>
                        <td style="text-align:right;">{{product.num}}</td>
                        <td style="text-align:right; padding: 5px 30px 5px 0;">
                            <span ng-show="product.hasOwnProperty('unitPrice')">{{product.currency | dictionary : 'currency'}}{{product.unitPrice*product.num | number : 2}}</span>
                            <span ng-show="product.hasOwnProperty('unitPriceMin')">
                                {{product.currency | dictionary : 'currency'}}{{product.unitPriceMin*product.num | number : 2}} - {{product.unitPriceMax*product.num | number : 2}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>