<style>
    .wrap-ths{width: 1200px;}
</style>
<div class="wrap clearfix">
    <div class="crumbs-bar pt5 pb5">
        <div class="crumbs-nav">
            <ul class=" clearfix">
                <li><a ng-href="{{'/#/orders'}}">我的订单</a></li>
                <li><a href="javascript:;">订单详情</a></li>
                <li><a href="javascript:;">订单号：{{id}}</a></li>
            </ul>
            <!--售后服务-->
            <div class="buy-service">
                <p class="phone">
                    <i class="icon icon-dianhua"></i>
                    <span ng-hide="order.mallId=='JD' ">
                        企业购售后专线：400-101-0335<span class="use-time">（周一至周五：9:00-17:00）</span>
                    </span>
                    <span ng-show="order.mallId=='JD' ">
                        企业购售后专线  京东企业客户售后专享服务热线：400-606-6866<span class="use-time">（9:00-21:00）</span>
                    </span>
                </p>
                <a href="https://help.jd.com/user/issue/321-981.html" target="_blank" ng-show="order.mallId=='JD' ">京东售后政策</a>
            </div>
        </div>
    </div>
    <div class="order-details">
        <div class="status-box mb20">
            <h3 class="font12 weight">订单状态：</h3>
            <div class="leftbar">
                <h4 class="colorRed normal">
                    <span ng-show="order.status=='NEW'">待经费填写</span>
                    <span ng-show="order.status=='PAY'">待供应商确认</span>
                    <span ng-show="order.status=='CONFIRM'">待学校审核</span>
                    <span ng-show="order.status=='ADOPT'">待支付</span>
                    <span ng-show="order.status=='PAYED'">待发货</span>
                    <span ng-show="order.status=='DELIVERY'">待收货</span>
                    <span ng-show="order.status=='RECEIVE'">已收货</span>
                    <span ng-show="order.status=='FINISHED'">完成</span>
                    <span ng-show="order.status=='CANCEL'">已取消</span>
                    <span ng-show="order.status=='NEW' && order.mallId=='JD'">
                        <span class="last-time" ng-show="differTime>0"><i class="icon icon-101"></i>剩余支付时间：<b>{{day}}天{{hour}}:{{minute}}:{{second}}</b></span>
                        <span class="last-time over-time" ng-show="differTime<0">订单超过7天有效支付期，系统已自动取消，如需购买，请重新下单！</span>
                    </span>
                    <span class="last-time over-time" ng-show="order.status=='FINISHED' && order.assetsSystemRecoreded==false && order.assetsSystem==true;">
                        已验收入账，请进入学校资产系统<br>查看资产入账业务的最新进度!
                    </span>
                    <span class="last-time over-time" ng-show="order.status=='PAYED'">
                      已通知供应商发货，如有疑问，请拨打售后专线！
                    </span>
                    <span class="last-time over-time" ng-show="order.status=='DELIVERY'">
                       商品正在配送中，如有疑问，请拨打售后专线！
                    </span>
                </h4>
            </div>
            <div class="rightbar">
                <p class="mb15 color9" ng-show="order.status=='NEW' && order.mallId=='JD'">该订单会为您保留7天（从下单之日算起），7天后如果还未付款，系统将自动取消该订单。</p>
                <div class="step-wrap">
                    <div class="step-fh clearfix">
                        <div class="" ng-class="{'finish':step.show, 'begin':step.name=='下单', 'step': step.name!='下单'}" ng-repeat="step in follow">
                            <div class="dot">
                                <span>
                                    <i class="iconfont icon-check" ng-show="step.show"></i><small ng-hide="step.show">{{$index+1}}</small>
                                </span>
                            </div>
                            <div class="ms"><h4 class="font12 weight">{{step.name}}</h4>
                                <span>{{step.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
                            </div>
                            <div class="line">
                                <div class="line-green" ng-show="step.show"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <ul class="left">
                        <li>
                            <span class="weight">收货人：</span>
                            <p class="content">{{order.consignee}}  {{order.consigneePhone}}</p>
                        </li>
                        <li>
                            <span class="weight">收货地址：</span>
                            <p class="content">{{order.consigneeAddress}}</p>
                        </li>
                        <li ng-show="order.hasOwnProperty('idThird')">
                            <span class="weight">电商订单号：</span>
                            <p class="content">{{order.idThird}}</p>
                        </li>
                        <li ng-show="order.hasOwnProperty('shoperRemark')">
                            <span class="weight">订单备注：</span>
                            <p class="content">{{order.shoperRemark}}</p>
                        </li>
                    </ul>
                    <ul class="right ml10">
                        <li ng-show="order.mallId=='JD'">
                            <span class="weight">是否报销：</span>
                            <p class="content" ng-bind=" order.invoiceSubmit=='school'? '需要在'+order.shoperName+'报销' : '无需在'+order.shoperName+'报销' "></p>
                        </li>
                        <li ng-show="order.hasOwnProperty('accountName')">
                            <span class="weight">经费信息：</span>
                            <p class="content">{{order.accountName}} 【{{order.accountNo}}】</p>
                        </li>
                        <li ng-show="order.invoiceSubmit=='school'">
                            <span class="weight">订单内审：</span>
                            <p class="content">
                                <s ng-show="order.bpmAuditStatus == 'pending' && order.bpmIsAudit == 'Y'">暂未启动审核流程</s>
                                <s ng-show="order.bpmIsAudit == 'N'">无需审核</s>
                                <s ng-show="order.bpmAuditStatus == 'auditing' && order.bpmIsAudit == 'Y'"> {{order.bpmNodeName}} 【{{order.bpmAuditorName}}】</s>
                                <s ng-show="order.bpmAuditStatus == 'approve' && order.bpmIsAudit == 'Y'">审核通过</s>
                                <s ng-show="order.bpmAuditStatus == 'reject' && order.bpmIsAudit == 'Y'">被驳回</s>
                                <a class="bill-yes" target="_blank" ng-hide="order.bpmAuditStatus == 'pending'" ng-href="{{order.bpmDetailUrl}}">查看详情</a>
                                <a class="bill-yes" target="_blank" ng-show="order.orderListUrl" ng-href="{{order.orderListUrl}}">打印订单</a>
                                <a class="bill-yes" target="_blank" ng-show="order.bpmPreviewUrl" ng-href="{{order.bpmPreviewUrl}}">打印采购申请表</a>
                            </p>
                        </li>
                        <li ng-show="order.mallId=='JD'">
                            <span class="weight">发票信息：</span>
                            <p class="content">
                                {{order.invoiceTypeName}}  {{order.invoiceName}}
                                <a class="bill-yes ml5" ng-show="order.invoiceUrl.length>0" ng-href="{{order.invoiceUrl[0]}}" target="_blank">(打印电子发票)</a>
                                <s class="bill-no ml5" ng-show="order.invoiceUrl.length==0">【暂未生成电子发票】</s>
                            </p>
                        </li>
                        <li ng-show="order.mallId!='JD'">
                            <span class="weight">发票信息：</span>
                            <p class="content">
                                {{order.invoiceName}}
                                <s ng-show="order.invNo">{{order.invNo}}</s>
                                <s class="over-ipt" ng-show="!order.invNo" ng-class="{overIpt: tipInv}">
                                    <input type="text" ng-model="invNo" placeholder="请补全发票号">
                                    <b ng-show="invNo" ng-click="overInvCode()">确定</b>
                                </s>
                            </p>
                        </li>
                        <li ng-show="order.contractUrl">
                            <span class="weight">采购合同：</span>
                            <p class="content"><a class="bill-yes" ng-href="{{order.contractUrl}}" target="_blank">打印电子合同</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--订单跟踪-->
        <div id="order-track" ng-show="order.orderTrack.length>0">
            <ul>
                <li>处理时间</li>
                <li>处理信息</li>
                <li>操作人</li>
            </ul>
            <div>
                <table>
                    <tr ng-repeat="track in order.orderTrack">
                        <td ng-class="{activeLine: $index< order.orderTrack.length-1}"><i  ng-class="{dd: $index==0}"></i>{{track.msgTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><sapn  ng-class="{ff: $index==0}">{{track.content}}</sapn></td>
                        <td>{{track.operator}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--商品信息-->
        <div class="item-info">
            <div class="item-list">
                <table style="font-size: 12px; margin-bottom: 30px;">
                    <tbody>
                    <tr>
                        <th colspan="2">商品</th>
                       <!-- <th>品牌</th>
                        <th>型号</th>
                        <th>规格</th>-->
                        <th>单价</th>
                        <th style="text-align:right;">数量</th>
                        <th style="text-align:right; width: 110px">总价</th>
                    </tr>
                    <tr ng-repeat="product in order.productList">
                        <td colspan="2" style=" white-space: inherit;" class="info-box" ng-init="property=json2object(product.property)">
                            <div class="item-xq">
                                <button class="imgbox">
                                    <!--非京东-->
                                    <img ng-if="product.pic.indexOf('http') == -1" ng-src="{{global.file.url +'/'+ product.pic.split(',')[0]}}">
                                    <!--京东图片-->
                                    <img ng-if="product.pic.indexOf('http')!= -1" ng-src="{{product.pic.split(',')[0]}}">
                                </button>
                                <a ng-href=" {{'/#/product/detail?id=' + product.productId + '&mallId=' + order.mallId}}" target="_blank">{{product.name}}</a>
                            </div>
                        </td>
                        <!--<td>{{product.brand}}</td>
                            <td>{{product.model}}</td>
                            <td>{{product.spec}}</td>-->
                        <td>
                            <p>￥{{product.unitPrice==0 && product.buyType=='ordinary' ? '内部协议价' : (product.unitPrice | number : 2)}}</p>
                            <s class="color9 linethrough" ng-show="product.hasOwnProperty('unitPriceShow')">￥{{(product.unitPriceShow | number : 2)}}</s>
                        </td>
                        <td style="text-align:right;">{{product.num}}</td>
                        <td style="text-align:right; padding: 5px 30px 5px 0;">
                            <!--<span ng-show="product.hasOwnProperty('unitPrice')">{{product.currency | dictionary : 'currency'}}{{product.unitPrice*product.num | number : 2}}</span>-->
                            <p class="font14">￥{{product.unitPrice*product.num | number : 2}}</p>
                            <s class="colorgreen" ng-show="product.unitPriceShow-product.unitPrice>0"><span class="color9 font12">省:</span>￥{{(product.unitPriceShow-product.unitPrice)*product.num | number : 2}}</s>
                            <span ng-show="product.hasOwnProperty('unitPriceMin')">
                                {{product.currency | dictionary : 'currency'}}{{product.unitPriceMin*product.num | number : 2}} - {{product.unitPriceMax*product.num | number : 2}}
                            </span>
                        </td>
                    </tr>
                    <!--<tr>
                        <td colspan="10" class="align-r pt30 pb30 mr30 font14">下单总金额：
                            <span class=" font16 weight colorRed">{{productList[0].currency | dictionary : 'currency'}} {{priceOpen | number: 2}}</span>
                        </td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
        <!--操作按钮-->
        <div class="do-btn">
            <a class="btn" ng-click="copy(order)" ng-show="order.status=='FINISHED' || order.status=='CANCEL' ">立即购买</a>
            <a class="btn" ng-click="delOrder(order.id)" ng-show="order.status=='NEW'&& !order.hasOwnProperty('parentId') || order.status=='PAY'&& !order.hasOwnProperty('parentId') || order.status=='CONFIRM'&& !order.hasOwnProperty('parentId') || order.status=='ADOPT'&& !order.hasOwnProperty('parentId') ">取消订单</a>
            <a class="btn" ng-click="toPayCard(order.id)" ng-show="order.status=='NEW' && !order.hasOwnProperty('parentId') ">确认经费</a>
            <a class="btn" ng-click="toPay(order.id)" ng-show="order.status=='ADOPT' && !order.hasOwnProperty('parentId') ">去支付</a>
            <a class="btn" ng-click="sureGet(order.id)" ng-show="order.status=='DELIVERY' || order.status=='RECEIVE'">确认收货</a>
            <a class="btn" ng-click="toAsset(order.id)" ng-show="order.assetsSystemRecoreded==true && order.assetsSystem==true;" ng-bind="toAssetWd" ng-init="toAssetWd='验收入账'"></a>
        </div>
    </div>
</div>