<div id="address_msg">
     <div class="address_sibal">
         <div class="address_sibal_top">
                <button>新增收货地址</button>
            </div>
         <div  class="address_sibal_bottom">
              <h3>张三&nbsp;&nbsp;
                  <i class="icon icon-tool"></i>
                  <span>默认地址</span>
              </h3>
              <div class="item">
                  <span>收货人：</span>
                  <div class="fl">张三</div>
              </div>
              <div class="item">
                  <span>手机：</span>
                  <div class="fl">xxxxxxxxxxxxxx</div>
              </div>
              <div class="item">
                  <span>所在地区：</span>
                  <div class="fl">xxxxxxxxxxxxxxxx</div>
              </div>
              <div class="item">
                  <span>详细地址：</span>
                  <div class="fl">xxxxxxxxxxxxxxxxxxxx</div>
              </div>
              <a href="javascript:;" class="edit">编辑</a>
          </div>
         <div  class="address_sibal_bottom">
             <h3>张三&nbsp;&nbsp;<i class="icon icon-tool"></i>
             </h3>
             <div class="item">
                 <span>收货人：</span>
                 <div class="fl">张三</div>
             </div>
             <div class="item">
                 <span>手机：</span>
                 <div class="fl">xxxxxxxxxxxxxx</div>
             </div>
             <div class="item">
                 <span>所在地区：</span>
                 <div class="fl">xxxxxxxxxxxxxxxx</div>
             </div>
             <div class="item">
                 <span>详细地址：</span>
                 <div class="fl">xxxxxxxxxxxxxxxxxxxx</div>
             </div>
             <a href="javascript;;"  class="edit">设为默认地址</a>
             <a href="javascript:;" class="edit">编辑</a>
         </div>
         <div class="address_sibal_top">
             <button>新增收货地址</button>
         </div>
     </div>
</div>