
<style>
    /*重置分类display*/
    .nav-ct .categorys-f{display: block;}
    .gl-i-wrap{width: 194px; height: 230px; border: 1px solid #f2f2f2;}
    .gl-i-wrap .p-img{width: 140px; height: 140px; margin: 0 auto 5px;}
    .gl-warp{width: 1212px; margin-left: -7px;}
    .gl-warp > .items{height: auto; width: auto;}
    .gl-i-wrap .p-name{margin: 0; height: 15px; white-space:nowrap; text-overflow:ellipsis;}
    .gl-i-wrap .p-price{margin: 0;}
    .mall-name{line-height: 30px;}
</style>
<div style="background: #f5f5f5; padding-bottom: 150px;">
    <div style="width: 1000px; height: 350px; margin: 0 auto; position: relative; left: 100px;"  ng-hide="nowMallId=='JD'">
        <div class="swiper-container">
            <div class="swiper-wrapper">
               <!-- <div class="swiper-slide"><img src="/images/banner1.png"></div>
                <div class="swiper-slide"><img src="/images/mall-swp3.png"></div>-->
                <div class="swiper-slide"><img src="/images/mall-swp1.jpg"></div>
            </div>
            <!-- 如果需要分页器 -->
            <!--<div class="swiper-pagination"></div>-->
        </div>
    </div>
    <div style="width: 1200px; height: 350px; margin: 0 auto; position: relative;" ng-show="nowMallId=='JD'">
        <div class="banner" style="width: 1000px;">
            <ul>
                <li><img style="width: 100%; height: 100%;" src="/images/jd-banner.jpg" ></li>
            </ul>
        </div>
    </div>
    <!--超值推荐-->
    <div class="square_commend" ng-show="worthProts.length>0">
        <h2 class="title-normal">超 值 推 荐</h2>
        <div  class="square_sibal_t">
            <div class="square_l" ng-repeat="good in worthProts">
                <s class="save-p weight" ng-show="disCount(good.unitPrice/good.unitPriceShow)<10" ng-bind="disCount(good.unitPrice/good.unitPriceShow) + '折'"></s>
                <div class="col_img">
                    <a ng-href="#/product/detail?mallId={{good.mallId}}&id={{good.id}}" target="_blank"><img ng-src="{{good.pic}}"></a>
                </div>
                <div class="col_price">¥{{good.unitPrice | number:2}}</div>
                <p><s class="linethrough color9">￥{{good.unitPriceShow | number:2}}</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">{{good.name}}</a>
                </div>
                <a class="addcar" ng-click="addGoods(good, 1)"><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
        </div>
    </div>
    <!--热卖-->
    <div class="hot-content" ng-show="hotProducts || esMallPros || true">
        <!--超值推荐-->
        <div class="module" ng-show="recommendCays.length>0">
            <div class="head_main_column bgFour" style="height: 115px;">
                <h1 class="font22 colorRed"><i class="icon icon-liwu font26 mr40"></i>今 日 超 值 推 荐</h1>
                <p class="align-c color6 font13">每 天 为 您 挑 选 京 东 优 惠 商 品</p>
                <div class="head_main_nav">
                    <ul style="width: 1200px; margin-top: 15px;">
                        <li ng-repeat="cary in recommendCays" style="width: 7.9%;">
                            <a ng-class="{active: cary.valuea == cayIndex}" ng-mouseover="getRecommendPrts(cary);">{{cary.valuea}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md-ctn" style="max-height: none;">
                <!--每个商品-->
                <div class="gl-warp clearfix">
                    <div class="items" ng-repeat="good in recomendPrt">
                        <div class="gl-i-wrap no-sotre">
                            <s class="save-p weight" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow)<10 && prices[good.productId].hasOwnProperty('unitPrice')" ng-bind="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) + '折'"></s>
                            <div class="p-img">
                                <a ng-href="{{'/#/product/detail?mallId=' + good.mallId + '&id=' + good.productId }}" target="_blank">
                                    <img ng-src="{{good.pic}}">
                                </a>
                            </div>
                            <div class="p-price" ng-show="prices[good.productId].hasOwnProperty('unitPrice')">￥{{prices[good.productId].unitPrice==0 ? '内部协议价' : (prices[good.productId].unitPrice | number:2)}}</div>
                            <div class="p-price" ng-show="prices[good.productId].hasOwnProperty('unitPriceMin')">￥{{prices[good.productId].unitPriceMin | number:2}}-{{prices[good.productId].unitPriceMax | number:2}}</div>
                            <div class="p-price font12" ng-show="prices[good.productId].priceStatus=='notLogin'">登录显示价格</div>
                            <p class="color9" ng-show="prices[good.productId].hasOwnProperty('unitPriceShow')">
                                <span class="weight" ng-hide="good.mallId=='JD' || good.mallId=='BGHB' ">参考价：</span>
                                <span class="weight" ng-show="good.mallId=='JD'">京东价：</span>
                                <s class="linethrough">￥{{prices[good.productId].unitPriceShow | number:2}}</s>
                            </p>
                            <div class="save-count" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow)<10 && prices[good.productId].hasOwnProperty('unitPrice')">
                                立省：￥<s class="font16">{{(prices[good.productId].unitPriceShow - prices[good.productId].unitPrice)| number:2}}</s>
                            </div>
                            <div class="p-name"><a ng-href="{{'/#/product/detail?mallId=' + good.mallId + '&id=' + good.productId }}" ng-bind-html="good.name" target="_blank"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hot-title" ng-show="hotProducts">
            <span></span>
            <b>&nbsp;&nbsp;热卖商品</b>
            <img src="/images/hot.png">
        </div>
        <!----------热卖商品--------->
        <div class="module">
            <div class="md-ctn">
                <!--每个商品-->
                <div class="gl-warp clearfix">
                    <div class="items" ng-repeat="good in hotProducts">
                        <div class="gl-i-wrap" style="height: 245px;">
                            <s class="save-p weight" ng-show="disCount(prices[good.data.productId].unitPrice/prices[good.data.productId].unitPriceShow) < 10 && prices[good.data.productId].hasOwnProperty('unitPrice') " ng-bind="disCount(prices[good.data.productId].unitPrice/prices[good.data.productId].unitPriceShow) + '折'"></s>
                            <div class="p-img">
                                <a ng-href="{{'/#/product/detail?mallId=' + good.data.mallId + '&id=' + good.data.productId }}" target="_blank">
                                    <img ng-src="{{good.data.pic}}" >
                                </a>
                            </div>
                            <div class="p-price" ng-show="prices[good.data.productId].hasOwnProperty('unitPrice')">￥{{prices[good.data.productId].unitPrice==0 ? '内部协议价' : (prices[good.data.productId].unitPrice | number:2)}}</div>
                            <div class="p-price" ng-show="prices[good.data.productId].hasOwnProperty('unitPriceMin')">￥{{prices[good.data.productId].unitPriceMin | number:2}}-{{prices[good.data.productId].unitPriceMax | number:2}}</div>
                            <div class="p-price font12" ng-show="o==null">登录显示价格</div>
                            <p ng-show="prices[good.data.productId].hasOwnProperty('unitPriceShow')">
                                <s class="s-price linethrough color9">￥{{prices[good.data.productId].unitPriceShow | number:2}}</s>
                            </p>
                            <div class="p-name"><a ng-href="{{'/#/product/detail?mallId=' + good.data.mallId + '&id=' + good.data.productId }}" ng-bind-html="good.data.name" target="_blank"></a></div>
                            <div class="p-store">
                                <a class="p-dw" target="_blank" ng-show="good.data.mallId=='JD'" ng-href="#/channel?orgId={{orgId}}&mallId={{good.data.mallId}}">{{good.data.storeName}}</a>
                                <a class="p-dw" target="_blank" ng-hide="good.data.mallId=='JD'" ng-href="{{'/#/store?id='+ good.data.storeId}} ">{{good.data.storeName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----------协议供货热卖------>
        <div class="module">
            <!--<h2 class="es-hot-title" ng-show="esMallPros">协议供货热卖</h2>-->
            <div class="md-ctn" style="padding-top: 0;">
                <!--每个商品-->
                <div class="gl-warp clearfix">
                    <div class="items" ng-repeat="good in esMallPros">
                        <div class="gl-i-wrap">
                            <div class="p-img">
                                <a ng-href="{{'/#/product/detail?mallId=' + good.data.mallId + '&id=' + good.data.productId }}" target="_blank">
                                    <img ng-src="{{good.data.pic}}" >
                                </a>
                            </div>
                            <div class="p-price" ng-show="prices[good.data.productId].hasOwnProperty('unitPrice')">￥{{prices[good.data.productId].unitPrice==0 ? '内部协议价' : (prices[good.data.productId].unitPrice | number:2)}}</div>
                            <div class="p-price" ng-show="prices[good.data.productId].hasOwnProperty('unitPriceMin')">￥{{prices[good.data.productId].unitPriceMin | number:2}}-{{prices[good.data.productId].unitPriceMax | number:2}}</div>
                            <div class="p-price font12" ng-show="prices[good.data.productId].priceStatus=='notLogin'">登录显示价格</div>
                            <p ng-show="prices[good.data.productId].hasOwnProperty('unitPriceShow')">
                                <s class="s-price linethrough color9">￥{{prices[good.data.productId].unitPriceShow | number:2}}</s>
                                <s class="ml5 weight color9" ng-show="disCount(prices[good.data.productId].unitPrice/prices[good.data.productId].unitPriceShow) < 10 && prices[good.data.productId].hasOwnProperty('unitPrice')" ng-bind="' ('+ disCount(prices[good.data.productId].unitPrice/prices[good.data.productId].unitPriceShow) + '折) '"></s>
                            </p>
                            <div class="p-name"><a ng-href="{{'/#/product/detail?mallId=' + good.data.mallId + '&id=' + good.data.productId }}" ng-bind-html="good.data.name" target="_blank"></a></div>
                            <div class="p-store">
                                <a class="p-dw" target="_blank" ng-href="{{'/#/store?id='+ good.data.storeId}} ">{{good.data.storeName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>














