<div class="compare-ctn">
    <!--标题-->
    <div class="comp-chid">
        <div class="titles tit-ms">商品信息</div>
        <div class="titles">品牌</div>
        <div class="titles tl-df">型号</div>
        <div class="titles">供应商</div>
        <div class="titles prty">其他属性</div>
        <div class="titles" ng-repeat="item in prtyList">{{item.name}}</div>
    </div>
    <!--商品信息-->
    <div class="comp-chid" ng-repeat="prod in compList">
        <div class="contents cont-main">
            <button class="img-f">
                <img ng-src="{{global.file.url+ '/'+prod.product.pic.split(',')[0]}}">
            </button>
            <div class="pd-name">{{prod.product.name}}</div>
            <div class="price">
                <span>¥&nbsp;</span><span class="pc-ct">{{prod.product.unitPrice}}</span>
            </div>
            <div class="operate">
                <a class="add-gd" href="javascript:;" ng-click="addGoods(prod, 1)">
                    <i class="iconfont icon-shopping2"></i>
                    加入购物车
                </a>
                <a class="delete" href="javascript:;" ng-click="delCompare(prod.id);">删除</a>
            </div>
        </div>
        <div class="contents cont-dt">{{prod.product.brand}}</div>
        <div class="contents cont-dt dt-df">{{prod.product.model}}</div>
        <div class="contents cont-dt">{{prod.product.storeName}}</div>
        <div class="contents cont-dt prty"></div>
        <div class="contents cont-dt" ng-repeat="item in prtyList">{{prod.productPro[item.code]}}</div>
    </div>
    <!--占位-->
    <div class="comp-chid" ng-repeat="item in addList">
        <div class="contents cont-main main-add">
            <a href="javascript:;" ng-href="{{'/#/product?mallId=' + mallId}}">
                <img class="add-btn" src="/images/add-gd.png">
            </a>
            <p>添加同类商品</p>
        </div>
        <div class="contents cont-dt"></div>
        <div class="contents cont-dt dt-df"></div>
        <div class="contents cont-dt"></div>
        <div class="contents cont-dt prty"></div>
        <div class="contents cont-dt" ng-repeat="item in prtyList"></div>
    </div>
</div>