<style>
    .gl-warp > .items{
        position: relative;
    }
    .gl-warp > .items .remove{display: none;}
    .gl-warp > .items:hover > .remove{display: block;}
</style>
<div id="collect_msg">
    <!--频道分类-->
    <div class="collect_sibal">
          <h1>关注的商品</h1>
          <!--<div class="collect_separate">
              <span>全部</span>
              <span class="active">京东</span>
              <span>协议供货商城</span>
              <span>川大精准扶贫</span>
              <span>办公伙伴</span>
          </div>-->
        <!--收藏的商品-->
        <div class="gl-warp clearfix">
            <div class="items" ng-repeat="good in products" >
                <div class="gl-i-wrap" style="height: 380px;">
                    <s class="save-p weight" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) < 10 && prices[good.productId].hasOwnProperty('unitPrice') && good.mallId=='JD'" ng-bind="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) + '折'"></s>
                    <div class="p-img">
                        <a ng-href="{{'/#/product/detail?mallId=' + good.mallId + '&id=' + good.productId }}" target="_blank">
                            <img ng-src="{{good.pic.slice(0,4)=='http' ? good.pic : global.file.url +'/'+ good.pic.split(',')[0] + '@190x190.png'}}">
                        </a>
                        <!--<div ng-show="productCountState[good.productId]=='stock_out' || prices[good.productId].priceStatus=='soldOut' ">
                            <p class="shot-product bg"></p>
                            <p class="shot-product word">暂时缺货</p>
                        </div>-->
                    </div>
                    <div>
                        <div class="price-f">
                            <span class="p-price" ng-show="prices[good.productId].hasOwnProperty('unitPrice')">￥{{prices[good.productId].unitPrice==0 ? '内部协议价' : (prices[good.productId].unitPrice | number:2)}}</span>
                            <p ng-show="prices[good.productId].hasOwnProperty('unitPriceShow')">
                                <span class="weight" ng-hide="good.mallId=='JD' || good.mallId=='BGHB' ">参考价：</span>
                                <span class="weight" ng-show="good.mallId=='JD'">京东价：</span>
                                <span class="weight" ng-show="good.mallId=='BGHB'">办公伙伴价：</span>
                                <s class="linethrough">￥{{prices[good.productId].unitPriceShow | number:2}}</s>
                            </p>
                        </div>
                        <div class="p-price" ng-show="prices[good.productId].hasOwnProperty('unitPriceMax')">￥{{prices[good.productId].unitPriceMin | number:2}}-{{prices[good.productId].unitPriceMax | number:2}}</div>
                        <div class="sp-price" ng-show="prices[good.productId].priceStatus=='notLogin'">登录显示价格</div>
                        <div class="sp-price" ng-show="prices[good.productId].priceStatus=='notRight'">价格供可购买老师查看</div>
                    </div>
                    <div class="p-name"><a target="_blank" ng-href="{{'/#/product/detail?mallId=' + good.mallId + '&id=' + good.productId }}" ng-bind-html="good.name"></a></div>
                    <div class="p-operate">
                        <!--有货-->
                        <a class="addCart" ng-click="addGoods(good, 1)" ng-hide="productCountState[good.productId]=='stock_out' || prices[good.productId].priceStatus=='soldOut'"><i class="iconfont icon-shopping2"></i>加入购物车</a>
                        <!--缺货-->
                        <a class="disAdd" ng-show="productCountState[good.productId]=='stock_out' || prices[good.productId].priceStatus=='soldOut'"><i class="iconfont icon-shopping2"></i>加入购物车</a>
                        <a class="add-cp" href="javascript:;" ng-click="addCompare(0, good.id, prices[good.productId].unitPrice)" ng-hide="good.mallId=='JD' || good.mallId=='BGHB'"><i class="iconfont icon-duibi"></i>加入对比</a>
                    </div>
                    <div class="p-store">
                        <a class="p-dw" target="_blank" ng-hide="good.mallId=='JD' || good.mallId=='BGHB' " ng-href="{{'/#/store?id=' + good.storeId}} ">{{good.storeName}}</a>
                    </div>
                    <!--商品大种类-->
                    <!--<ul class="key-msg mall-type">
                        <li ng-class="{typeOwn: good.mall.mallType!='esmall', 'typeIf': good.mall.mallType=='esmall'}" ng-hide="good.mallId=='BGHB' || good.mallId=='JD'">{{good.mall.simpleName}}</li>
                        <li class="typeJD" ng-show="good.mall.id=='JD'">{{good.mall.simpleName}}</li>
                        <li class="typeBGHB" ng-show="good.mall.id=='BGHB'">{{good.mall.simpleName}}</li>
                    </ul>-->
                </div>
                <!--取消关注-->
                <div class="remove" ng-click="removeCollect(good.id)">取消关注</div>
            </div>
        </div>
        <!--没有关注过任何商品-->
        <div class="no-collect" ng-show="products.length==0">您还没有关注过任何商品哦！</div>
    </div>
</div>