<div id="collect_msg">
    <!--频道分类-->
    <div class="collect_sibal">
          <h1>关注的商品</h1>
          <div class="collect_separate">
              <span>全部</span>
              <span class="active">京东</span>
              <span>协议供货商城</span>
              <span>川大精准扶贫</span>
              <span>办公伙伴</span>
          </div>
        <!--收藏的商品-->
          <div  class="collect_sibal_t">
              <div class="collect_l">
                  <div class="col_img">
                      <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                  </div>
                  <div class="col_price">￥4,999.00</div>
                  <p><s class="s-price">￥5,999.00</s></p>
                   <div class="col_name">
                       <a href="">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                   </div>
                  <a class="c-pw" href="">京东商城</a>
              </div>
              <div class="collect_l">
                  <div class="col_img">
                      <a href=""><img src="http://img13.360buyimg.com/n2/jfs/t19771/9/1072661601/73431/f245ddb7/5ab9a842N80187027.jpg" alt=""></a>
                  </div>
                  <div class="col_price">￥4,999.00</div>
                  <p><s class="s-price">￥5,999.00</s></p>
                  <div class="col_name">
                      <a href="">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                  </div>
                  <a class="c-pw" href="">京东商城</a>
              </div>
              <div class="collect_l">
                  <div class="col_img">
                      <a href=""><img src="http://img13.360buyimg.com/n2/jfs/t19771/9/1072661601/73431/f245ddb7/5ab9a842N80187027.jpg" alt=""></a>
                  </div>
                  <div class="col_price">￥4,999.00</div>
                  <p><s class="s-price">￥5,999.00</s></p>
                  <div class="col_name">
                      <a href="">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                  </div>
                  <a class="c-pw" href="">京东商城</a>
              </div>
              <div class="collect_l">
                  <div class="col_img">
                      <a href=""><img src="http://img13.360buyimg.com/n2/jfs/t19771/9/1072661601/73431/f245ddb7/5ab9a842N80187027.jpg" alt=""></a>
                  </div>
                  <div class="col_price">￥4,999.00</div>
                  <p><s class="s-price">￥5,999.00</s></p>
                  <div class="col_name">
                      <a href="">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                  </div>
                  <a class="c-pw" href="">京东商城</a>
              </div>
              <div class="collect_l">
                  <div class="col_img">
                      <a href=""><img src="http://img13.360buyimg.com/n2/jfs/t19771/9/1072661601/73431/f245ddb7/5ab9a842N80187027.jpg" alt=""></a>
                  </div>
                  <div class="col_price">￥4,999.00</div>
                  <p><s class="s-price">￥5,999.00</s></p>
                  <div class="col_name">
                      <a href="">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                  </div>
                  <a class="c-pw" href="">京东商城</a>
              </div>
              <div class="collect_l">
                  <div class="col_img">
                      <a href=""><img src="http://img13.360buyimg.com/n2/jfs/t19771/9/1072661601/73431/f245ddb7/5ab9a842N80187027.jpg" alt=""></a>
                  </div>
                  <div class="col_price">￥4,999.00</div>
                  <p><s class="s-price">￥5,999.00</s></p>
                  <div class="col_name">
                      <a href="">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                  </div>
                  <a class="c-pw" href="">京东商城</a>
              </div>

          </div>
    </div>
</div>