<style>
    .gl-i-wrap{width: 192px; height: 230px;}
    .gl-i-wrap .p-img{width: 120px; height: 120px; margin: 0 auto 5px;}
    .gl-warp > .items{height: auto; width: auto;}
    .gl-i-wrap .p-name{margin: 4px 0; height: 17px; white-space:nowrap; text-overflow:ellipsis;}
    .gl-i-wrap .p-price{margin: 0;}
    .categorys-f{display: block;}
    .no-sotre{height: 210px;}
    .g-left{width: 990px; float: right;}
    .md-ctn-hei{height: 440px}
</style>
<div style="background: #f5f5f5; padding-bottom: 0;">
    <!--banner 分类导航-->
    <div style="width: 1000px; height: 350px; margin: 0 auto; position: relative; left: 100px;">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-if="orgId=='15CCEAE93B72000163E006BB65C13007'"><img style="width: 1000px; height: 350px;" src="images/15CCEAE93B72000163E006BB65C13007.png"></div>
                <div class="swiper-slide"><img style="width: 1000px; height: 350px;" src="images/banner1.png"></div>
                <div class="swiper-slide" ng-if="haveJd"><img src="images/jd-banner.jpg"></div>
                <div class="swiper-slide"><img style="width: 1000px; height: 350px;" src="images/mall-swp3.png"></div>
                <div class="swiper-slide"><img style="width: 1000px; height: 350px;" src="images/mall-swp1.jpg"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <!--公告-->
        <div class="public-notice">
            <h2>公告通知</h2>
            <p class="notice" ng-repeat="pub in publics"><a target="_blank" ng-href="{{pub.hrefUrl}}">{{pub.name}}</a></p>
        </div>
    </div>
    <!--流程图-->
    <div class="flow-path" ng-hide="orgId=='15CCEAE93B72000163E006BB65C13007' || orgId=='58609'">
        <!--<p class="head"><s>/</s>网上商城<span>采购流程</span><s>/</s></p>-->
        <ul class="flow-ctn">
            <li>
                <span class="icon-fs"><i class="icon icon-goumaiyemiande-jiarugouwuche"></i></span>
                <span class="icon-word">加入购物车</span>
            </li>
            <li class="line"></li>
            <li>
                <span class="icon-fs"><i class="icon icon-caigoudingdan"></i></span>
                <span class="icon-word">确认下单</span>
            </li>
            <li class="line"></li>

            <li>
                <span class="icon-fs"><i class="icon icon-vipcard"></i></span>
                <span class="icon-word">选择支付经费卡</span>
            </li>
            <li class="line"></li>
            <li>
                <span class="icon-fs"><i style="font-size: 34px; margin-left: 4px;" class="icon icon-shenhe"></i></span>
                <span class="icon-word">校内采购审核</span>
            </li>
            <li class="line"></li>
            <li>
                <span class="icon-fs"><i class="icon icon-fahuo"></i></span>
                <span class="icon-word">商家发货</span>
            </li>
            <li class="line"></li>
            <li>
                <span class="icon-fs"><i class="icon icon-shouhuo"></i></span>
                <span class="icon-word">用户收货验收</span>
            </li>
            <li class="line"></li>
            <li>
                <span class="icon-fs"><i class="icon icon-selected"></i></span>
                <span class="icon-word">资产自动入账</span>
            </li>
            <li class="line"></li>
            <li>
                <span class="icon-fs"><i class="icon icon-zhangdan"></i></span>
                <span class="icon-word">财务报销结算</span>
            </li>
        </ul>
    </div>
    <!--商城动态订单-->
    <div class="scorll-orders">
        <h2 class="es-hot-title">商城<span>动态</span></h2>
        <ul id="scroll">
            <li class="item-order" ng-repeat="good in hotOrders">
                <s class="save-p weight" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) < 10" ng-bind="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) + '折'"></s>
                <a ng-href="/#/product/detail?mallId={{good.mallId}}&id={{good.productId}}" target="_blank"><img ng-src="{{good.pic}}" width="120" height="120"></a>
                <p class="p-price">¥ {{prices[good.productId].unitPrice | number:2}}</p>
                <p class="p-sale">已售{{good.salesNum}}件</p>
                <p class="p-name">{{good.name}}</p>
            </li>
        </ul>
    </div>
    <!--优惠专区入口-->
    <div id="home_brand">
        <h2 class="es-hot-title"><span>惠</span>·推荐&nbsp;|&nbsp;<span>选</span>·品质</h2>
        <div class="brand-contents">
            <div class="brand">
                <img src="images/square/b08.jpg">
                <a href="#/sale?id=8&equre=pc&targetUrl=defalut" target="_blank"><div class="mask">戴尔专场</div></a>
            </div>
            <div class="brand">
                <img src="images/square/b09.jpg">
                <a href="#/sale?id=9&equre=pc&targetUrl=defalut" target="_blank"><div class="mask">苹果专场</div></a>
            </div>
            <div class="brand margin-right">
                <img src="images/square/b10.jpg">
                <a href="#/sale?id=10&equre=pc&targetUrl=defalut" target="_blank"><div class="mask">华为专场</div></a>
            </div>
            <div class="brand">
                <img src="images/square/b11.jpg">
                <a href="#/sale?id=11&equre=pc&targetUrl=defalut" target="_blank"><div class="mask">惠普专场</div></a>
            </div>
            <div class="brand">
                <img src="images/square/b12.jpg">
                <a href="#/sale?id=12&equre=pc&targetUrl=defalut" target="_blank"><div class="mask">松下专场</div></a>
            </div>
            <div class="brand margin-right">
                <img src="images/square/b13.jpg">
                <a href="#/channel?orgId={{orgId}}&mallId=JD" target="_blank"><div class="mask">更多品牌优惠</div></a>
            </div>
        </div>
    </div>
    <div id="hot-content" ng-show="hotProducts || esMallPros">
        <div class="hot-title">
            <span></span>
            <b>&nbsp;&nbsp;热卖商品</b>
            <!--<b ng-show="haveJd">&nbsp;&nbsp;京东优惠热卖</b>-->
            <img src="/images/hot.png">
        </div>
        <!----------热卖商品--------->
        <div class="module">
            <div class="md-ctn">
                <!--每个商品-->
                <div class="gl-warp clearfix">
                    <div class="items" ng-repeat="good in hotProducts">
                        <div class="gl-i-wrap">
                            <s class="save-p weight" ng-show="disCount(prices[good.data.productId].unitPrice/prices[good.data.productId].unitPriceShow) < 10 && prices[good.data.productId].hasOwnProperty('unitPrice') " ng-bind="disCount(prices[good.data.productId].unitPrice/prices[good.data.productId].unitPriceShow) + '折'"></s>
                            <div class="p-img">
                                <a ng-href="{{'/#/product/detail?mallId=' + good.data.mallId + '&id=' + good.data.productId }}" target="_blank">
                                    <img ng-src="{{good.data.pic}}" >
                                </a>
                            </div>
                            <div class="p-price" ng-show="prices[good.data.productId].hasOwnProperty('unitPrice')">￥{{prices[good.data.productId].unitPrice==0 ? '内部协议价' : (prices[good.data.productId].unitPrice | number:2)}}</div>
                            <div class="p-price" ng-show="prices[good.data.productId].hasOwnProperty('unitPriceMin')">￥{{prices[good.data.productId].unitPriceMin | number:2}}-{{prices[good.data.productId].unitPriceMax | number:2}}</div>
                            <div class="p-price font12" ng-show="prices[good.data.productId].priceStatus=='notLogin'">登录显示价格</div>
                            <p ng-show="prices[good.data.productId].hasOwnProperty('unitPriceShow')">
                                <s class="s-price" style="color: #999;">￥{{prices[good.data.productId].unitPriceShow | number:2}}</s>
                            </p>
                            <div class="p-name"><a ng-href="{{'/#/product/detail?mallId=' + good.data.mallId + '&id=' + good.data.productId }}" ng-bind-html="good.data.name" target="_blank"></a></div>
                            <div class="p-store">
                                <a class="p-dw" target="_blank" ng-show="good.data.mallId=='JD'" ng-href="#/channel?orgId={{orgId}}&mallId={{good.data.mallId}}">{{good.data.storeName}}</a>
                                <a class="p-dw" target="_blank" ng-hide="good.data.mallId=='JD'" ng-href="{{'/#/store?id='+ good.data.storeId}} ">{{good.data.storeName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----------协议供货热卖------>
        <div class="module">
            <!--<h2 class="es-hot-title" ng-show="esMallPros">协议供货热卖</h2>-->
            <div class="md-ctn" style="padding-top: 0;">
                <!--每个商品-->
                <div class="gl-warp clearfix">
                    <div class="items" ng-repeat="good in esMallPros">
                        <div class="gl-i-wrap">
                            <div class="p-img">
                                <a ng-href="{{'/#/product/detail?mallId=' + good.data.mallId + '&id=' + good.data.productId }}" target="_blank">
                                    <img ng-src="{{good.data.pic}}" >
                                </a>
                            </div>
                            <div class="p-price" ng-show="prices[good.data.productId].hasOwnProperty('unitPrice')">￥{{prices[good.data.productId].unitPrice==0 ? '内部协议价' : (prices[good.data.productId].unitPrice | number:2)}}</div>
                            <div class="p-price" ng-show="prices[good.data.productId].hasOwnProperty('unitPriceMin')">￥{{prices[good.data.productId].unitPriceMin | number:2}}-{{prices[good.data.productId].unitPriceMax | number:2}}</div>
                            <div class="p-price font12" ng-show="prices[good.data.productId].priceStatus=='notLogin'">登录显示价格</div>
                            <p ng-show="prices[good.data.productId].hasOwnProperty('unitPriceShow')">
                                <s class="s-price" style="color: #999;">￥{{prices[good.data.productId].unitPriceShow | number:2}}</s>
                                <s class="ml5 weight" style="color: #999;" ng-show="disCount(prices[good.data.productId].unitPrice/prices[good.data.productId].unitPriceShow) < 10 && prices[good.data.productId].hasOwnProperty('unitPrice')" ng-bind="' ('+ disCount(prices[good.data.productId].unitPrice/prices[good.data.productId].unitPriceShow) + '折) '"></s>
                            </p>
                            <div class="p-name"><a ng-href="{{'/#/product/detail?mallId=' + good.data.mallId + '&id=' + good.data.productId }}" ng-bind-html="good.data.name" target="_blank"></a></div>
                            <div class="p-store">
                                <a class="p-dw" target="_blank" ng-href="{{'/#/store?id='+ good.data.storeId}} ">{{good.data.storeName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="see_more">
        <div class="hot_center">
            <h3 class="floor_tit">没有找到想要的商品？</h3>
        </div>
        <div class="floor_btn"><a href="#/square?where=more" target="_blank">查看更多优惠热卖</a></div>
    </div>
    <!--底部icon-->
    <div id="main_bottom">
        <div>
            <ul>
                <li>
                    <img src="images/www/img01.png" alt="">
                    <span><strong>海量商品</strong><br>集成主流电商，内置专业科教供应商<br>支持学校遴选优质协议供货</span>
                </li>
                <li>
                    <img src="images/www/img02.png" alt="">
                    <span><strong>优惠优价</strong><br>大客户专属价格优惠物流优惠<br>服务免费升级</span>
                </li>
                <li>
                    <img src="images/www/img03.png" alt="">
                    <span><strong>阳光合规</strong><br>关联采购计划，匹配校内经费卡<br>自定义校内订单审批流程</span>
                </li>
                <li>
                    <img src="images/www/img04.png" alt="">
                    <span><strong>支付结算</strong><br>货到付款/在线支付<br>财务集中结算支付,支持公务卡</span>
                </li>
                <li>
                    <img src="images/www/img05.png" alt="">
                    <span><strong>高效智能</strong><br>电子发票，电子合同<br>订单凭证,审批单，报账单</span>
                </li>
                <li>
                    <img src="images/www/img06.png" alt="">
                    <span><strong>入账报销</strong><br>资产验收入账"一键搞定"<br>建账、报账无需跑路</span>
                </li>
                <li>
                    <img src="images/www/img07.png" alt="">
                    <span><strong>安全可靠</strong><br>加密访问,数据隔离<br>全面支持交易快照</span>
                </li>
                <li>
                    <img src="images/www/img08.png" alt="">
                    <span><strong>内控监察</strong><br>杜绝虚假购买，全程留痕,随时备查<br>大数据分析,监督有力</span>
                </li>
            </ul>
        </div>
    </div>
</div>







