<style>
    .gl-i-wrap{width: 192px; height: 230px;}
    .gl-i-wrap .p-img{width: 140px; height: 140px; margin: 0 auto 5px;}
    .gl-warp > .items{height: auto; width: auto;}
    .gl-i-wrap .p-name{margin: 4px 0; height: 17px; white-space:nowrap; text-overflow:ellipsis;}
    .gl-i-wrap .p-price{margin: 0;}
    #hot-content .module .md-ctn{max-height: 500px;}
    .categorys-f{display: block;}
    .g-left{width: 990px; float: right;}
    .md-ctn-hei{height: 440px}
</style>

<div style="background: #f5f5f5; padding-bottom: 0;">
    <!--banner 分类导航-->
    <div style="width: 1000px; height: 350px; margin: 0 auto; position: relative; left: 100px;">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-if="orgId=='15CCEAE93B72000163E006BB65C13007'"><img src="images/15CCEAE93B72000163E006BB65C13007.png"></div>
                <!--<div class="swiper-slide" ng-if="orgId!='15CAA78F25D2000163E006BB64C3E008'"><img src="images/banner1.png"></div>-->
                <div class="swiper-slide" ng-if="haveJd"><img src="images/jd-banner.jpg"></div>
                <div class="swiper-slide"><img src="images/mall-swp3.png"></div>
                <div class="swiper-slide" ng-if="orgId!='15CAA78F25D2000163E006BB64C3E008'"><img src="images/mall-swp1.jpg"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <!--公告-->
        <div class="public-notice">
            <h2>公告通知</h2>
            <p class="notice" ng-repeat="pub in publics"><a target="_blank" ng-href="{{pub.hrefUrl}}">{{pub.name}}</a></p>
        </div>
    </div>
    <!--流程图-->
    <!--<div class="flow-path" ng-hide="orgId=='15CCEAE93B72000163E006BB65C13007' || orgId=='58609'">-->
        <!--&lt;!&ndash;<p class="head"><s>/</s>网上商城<span>采购流程</span><s>/</s></p>&ndash;&gt;-->
        <!--<ul class="flow-ctn">-->
            <!--<li>-->
                <!--<span class="icon-fs"><i class="icon icon-goumaiyemiande-jiarugouwuche"></i></span>-->
                <!--<span class="icon-word">加入购物车</span>-->
            <!--</li>-->
            <!--<li class="line"></li>-->
            <!--<li>-->
                <!--<span class="icon-fs"><i class="icon icon-caigoudingdan"></i></span>-->
                <!--<span class="icon-word">确认下单</span>-->
            <!--</li>-->
            <!--<li class="line"></li>-->

            <!--<li>-->
                <!--<span class="icon-fs"><i class="icon icon-vipcard"></i></span>-->
                <!--<span class="icon-word">选择支付经费卡</span>-->
            <!--</li>-->
            <!--<li class="line"></li>-->
            <!--<li>-->
                <!--<span class="icon-fs"><i style="font-size: 34px; margin-left: 4px;" class="icon icon-shenhe"></i></span>-->
                <!--<span class="icon-word">校内采购审核</span>-->
            <!--</li>-->
            <!--<li class="line"></li>-->
            <!--<li>-->
                <!--<span class="icon-fs"><i class="icon icon-fahuo"></i></span>-->
                <!--<span class="icon-word">商家发货</span>-->
            <!--</li>-->
            <!--<li class="line"></li>-->
            <!--<li>-->
                <!--<span class="icon-fs"><i class="icon icon-shouhuo"></i></span>-->
                <!--<span class="icon-word">用户收货验收</span>-->
            <!--</li>-->
            <!--<li class="line"></li>-->
            <!--<li>-->
                <!--<span class="icon-fs"><i class="icon icon-selected"></i></span>-->
                <!--<span class="icon-word">资产自动入账</span>-->
            <!--</li>-->
            <!--<li class="line"></li>-->
            <!--<li>-->
                <!--<span class="icon-fs"><i class="icon icon-zhangdan"></i></span>-->
                <!--<span class="icon-word">财务报销结算</span>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--推荐商品-->
    <!--<div class="square_commend" ng-show="worthProts.length>0">
        &lt;!&ndash;<h2 class="title-normal">超 值 推 荐</h2>&ndash;&gt;
        <div class="head_main_column">
           <div class="head_title">
               <img src="images/gift.png" alt="">
               <h1>今日超值推荐<span>每天为您挑选京东优惠商品!</span></h1>
           </div>
            <div class="head_main_nav">
                <ul>
                    <li>
                        <a  target="_blank">办公设备</a>
                    </li>
                    <li>
                        <a  target="_blank">电脑整机</a>
                    </li>
                    <li>
                        <a  target="_blank">电脑配件</a>
                    </li>
                    <li>
                        <a  target="_blank">家用电器</a>
                    </li>
                    <li>
                        <a  target="_blank">数码设备</a>
                    </li>
                    <li>
                        <a  target="_blank">工业品</a>
                    </li>
                    <li>
                        <a  target="_blank">家具</a>
                    </li>
                    <li>
                        <a  target="_blank">食品饮料</a>
                    </li>
                    <li>
                        <a  target="_blank">运动户外</a>
                    </li>
                    <li>
                        <a  target="_blank">酒水</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
    <!--热卖-->
    <div class="hot-content">
        <div class="hot-title" ng-show="allHots.hots">
            <span></span>
            <b>&nbsp;&nbsp;热卖商品</b>
            <img src="/images/hot.png">
        </div>
        <!--热卖商品-->
        <div class="module" ng-show="allHots.hots">
            <div class="md-ctn">
                <!--每个商品-->
                <div class="gl-warp clearfix ml10" style="max-height: 245px;">
                    <div class="items" ng-repeat="good in hotProducts">
                        <div class="gl-i-wrap">
                            <s class="save-p weight" ng-show="disCount(prices[good.data.productId].unitPrice/prices[good.data.productId].unitPriceShow)<10 && prices[good.data.productId].hasOwnProperty('unitPrice') && good.data.mallId=='JD'" ng-bind="disCount(prices[good.data.productId].unitPrice/prices[good.data.productId].unitPriceShow) + '折'"></s>
                            <div class="p-img">
                                <a ng-href="{{'/#/product/detail?mallId=' + good.data.mallId + '&id=' + good.data.productId }}" target="_blank">
                                    <img ng-src="{{good.data.pic}}" >
                                </a>
                            </div>
                            <div class="p-price" ng-show="prices[good.data.productId].hasOwnProperty('unitPrice')">￥{{prices[good.data.productId].unitPrice==0 ? '内部协议价' : (prices[good.data.productId].unitPrice | number:2)}}</div>
                            <div class="p-price" ng-show="prices[good.data.productId].hasOwnProperty('unitPriceMin')">￥{{prices[good.data.productId].unitPriceMin | number:2}}-{{prices[good.data.productId].unitPriceMax | number:2}}</div>
                            <div class="p-price font12" ng-show="o==null">登录显示价格</div>
                            <p class="color9" ng-show="prices[good.data.productId].hasOwnProperty('unitPriceShow')">
                                <span class="weight" ng-hide="good.data.mallId=='JD' || good.mallId=='BGHB' ">参考价：</span>
                                <span class="weight" ng-show="good.data.mallId=='JD'">京东价：</span>
                                <s class="linethrough">￥{{prices[good.data.productId].unitPriceShow | number:2}}</s>
                            </p>
                            <div class="save-count" ng-show="disCount(prices[good.data.productId].unitPrice/prices[good.data.productId].unitPriceShow)<10 && prices[good.data.productId].hasOwnProperty('unitPrice')">
                                立省：￥<s class="font16">{{(prices[good.data.productId].unitPriceShow - prices[good.data.productId].unitPrice)| number:2}}</s>
                            </div>
                            <div class="p-name"><a ng-href="{{'/#/product/detail?mallId=' + good.data.mallId + '&id=' + good.data.productId }}" ng-bind-html="good.data.name" target="_blank"></a></div>
                            <div class="p-store">
                                <a class="p-dw" target="_blank" ng-show="good.data.mallId=='JD'" ng-href="{{'https://item.jd.com/' + good.data.productId + '.html'}} ">{{good.data.storeName}}</a>
                                <a class="p-dw" target="_blank" ng-hide="good.data.mallId=='JD'" ng-href="{{'/#/store?id='+ good.data.storeId}} ">{{good.data.storeName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----------热卖分类----------->
        <div class="module" ng-repeat="floor in hotCategorys">
            <div class="head_main_column" ng-class="{bgOne:$index==0, bgTwo:$index==1, bgThird:$index==2}">
                <h1>{{floor.data.name}}</h1>
                <div class="head_main_nav">
                    <ul>
                        <li ng-repeat="childCaty in floor.children" ng-init="getCayPrtList(childCaty.data.id, floor, $parent.$index, $index);">
                            <a ng-class="{active: activeId{{$parent.$index}} == childCaty.data.id}" ng-mouseover="findContent(childCaty.data.id, $parent.$index);" ng-href="/#/product?categoryId={{childCaty.data.id}}&mallId={{childCaty.targetMallId}}" target="_blank">{{childCaty.data.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="head_more"><a ng-href="/#/product?categoryId={{floor.data.id}}&mallId={{floor.targetMallId}}" target="_blank">更多商品>></a></div>
            </div>
            <!--1-->
            <div class="md-ctn" ng-show="$index==0">
                <!--每个商品-->
                <div class="gl-warp clearfix">
                    <div class="items" ng-repeat="good in floor[activeId0].product.rs">
                        <div class="gl-i-wrap no-sotre">
                            <s class="save-p weight" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow)<10 && prices[good.productId].hasOwnProperty('unitPrice')" ng-bind="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) + '折'"></s>
                            <div class="p-img">
                                <a ng-href="{{'/#/product/detail?mallId=' + good.mallId + '&id=' + good.productId }}" target="_blank">
                                    <img ng-src="{{good.pic}}">
                                </a>
                            </div>
                            <div class="p-price" ng-show="prices[good.productId].hasOwnProperty('unitPrice')">￥{{prices[good.productId].unitPrice==0 ? '内部协议价' : (prices[good.productId].unitPrice | number:2)}}</div>
                            <div class="p-price" ng-show="prices[good.productId].hasOwnProperty('unitPriceMin')">￥{{prices[good.productId].unitPriceMin | number:2}}-{{prices[good.productId].unitPriceMax | number:2}}</div>
                            <div class="p-price font12" ng-show="prices[good.productId].priceStatus=='notLogin'">登录显示价格</div>
                            <p class="color9" ng-show="prices[good.productId].hasOwnProperty('unitPriceShow')">
                                <span class="weight" ng-hide="good.mallId=='JD' || good.mallId=='BGHB' ">参考价：</span>
                                <span class="weight" ng-show="good.mallId=='JD'">京东价：</span>
                                <s class="linethrough">￥{{prices[good.productId].unitPriceShow | number:2}}</s>
                            </p>
                            <div class="save-count" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow)<10 && prices[good.productId].hasOwnProperty('unitPrice')">
                                立省：￥<s class="font16">{{(prices[good.productId].unitPriceShow - prices[good.productId].unitPrice)| number:2}}</s>
                            </div>
                            <div class="p-name"><a ng-href="{{'/#/product/detail?mallId=' + good.mallId + '&id=' + good.productId }}" ng-bind-html="good.name" target="_blank"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="md-ctn" ng-show="$index==1">
                <!--每个商品-->
                <div class="gl-warp clearfix">
                    <div class="items" ng-repeat="good in floor[activeId1].product.rs">
                        <div class="gl-i-wrap no-sotre">
                            <s class="save-p weight" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow)<10 && prices[good.productId].hasOwnProperty('unitPrice') " ng-bind="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) + '折'"></s>
                            <div class="p-img">
                                <a ng-href="{{'/#/product/detail?mallId=' + good.mallId + '&id=' + good.productId }}" target="_blank">
                                    <img ng-src="{{good.pic}}">
                                </a>
                            </div>
                            <div class="p-price" ng-show="prices[good.productId].hasOwnProperty('unitPrice')">￥{{prices[good.productId].unitPrice==0 ? '内部协议价' : (prices[good.productId].unitPrice | number:2)}}</div>
                            <div class="p-price" ng-show="prices[good.productId].hasOwnProperty('unitPriceMin')">￥{{prices[good.productId].unitPriceMin | number:2}}-{{prices[good.productId].unitPriceMax | number:2}}</div>
                            <div class="p-price font12" ng-show="prices[good.productId].priceStatus=='notLogin'">登录显示价格</div>
                            <p class="color9" ng-show="prices[good.productId].hasOwnProperty('unitPriceShow')">
                                <span class="weight" ng-hide="good.mallId=='JD' || good.mallId=='BGHB' ">参考价：</span>
                                <span class="weight" ng-show="good.mallId=='JD'">京东价：</span>
                                <s class="linethrough">￥{{prices[good.productId].unitPriceShow | number:2}}</s>
                            </p>
                            <div class="save-count" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow)<10 && prices[good.productId].hasOwnProperty('unitPrice')">
                                立省：￥<s class="font16">{{(prices[good.productId].unitPriceShow - prices[good.productId].unitPrice)| number:2}}</s>
                            </div>
                            <div class="p-name"><a ng-href="{{'/#/product/detail?mallId=' + good.mallId + '&id=' + good.productId }}" ng-bind-html="good.name" target="_blank"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="md-ctn" ng-show="$index==2">
                <!--每个商品-->
                <div class="gl-warp clearfix">
                    <div class="items" ng-repeat="good in floor[activeId2].product.rs">
                        <div class="gl-i-wrap no-sotre">
                            <s class="save-p weight" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow)<10 && prices[good.productId].hasOwnProperty('unitPrice')" ng-bind="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) + '折'"></s>
                            <div class="p-img">
                                <a ng-href="{{'/#/product/detail?mallId=' + good.mallId + '&id=' + good.productId }}" target="_blank">
                                    <img ng-src="{{good.pic}}">
                                </a>
                            </div>
                            <div class="p-price" ng-show="prices[good.productId].hasOwnProperty('unitPrice')">￥{{prices[good.productId].unitPrice==0 ? '内部协议价' : (prices[good.productId].unitPrice | number:2)}}</div>
                            <div class="p-price" ng-show="prices[good.productId].hasOwnProperty('unitPriceMin')">￥{{prices[good.productId].unitPriceMin | number:2}}-{{prices[good.productId].unitPriceMax | number:2}}</div>
                            <div class="p-price font12" ng-show="prices[good.productId].priceStatus=='notLogin'">登录显示价格</div>
                            <p class="color9" ng-show="prices[good.productId].hasOwnProperty('unitPriceShow')">
                                <span class="weight" ng-hide="good.mallId=='JD' || good.mallId=='BGHB' ">参考价：</span>
                                <span class="weight" ng-show="good.mallId=='JD'">京东价：</span>
                                <s class="linethrough">￥{{prices[good.productId].unitPriceShow | number:2}}</s>
                            </p>
                            <div class="save-count" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow)<10 && prices[good.productId].hasOwnProperty('unitPrice')">
                                立省：￥<s class="font16">{{(prices[good.productId].unitPriceShow - prices[good.productId].unitPrice)| number:2}}</s>
                            </div>
                            <div class="p-name"><a ng-href="{{'/#/product/detail?mallId=' + good.mallId + '&id=' + good.productId }}" ng-bind-html="good.name" target="_blank"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--商城动态订单-->
    <!--<div class="scorll-orders" ng-show="hotOrders.length>0">
        <h2 class="es-hot-title">商城<span>动态</span></h2>
        <ul id="scroll">
            <li class="item-order" ng-repeat="good in hotOrders">
                <s class="save-p weight" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) < 10" ng-bind="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) + '折'"></s>
                <a ng-href="/#/product/detail?mallId={{good.mallId}}&id={{good.productId}}" target="_blank"><img ng-src="{{good.pic}}" width="120" height="120"></a>
                <p class="p-price">¥ {{prices[good.productId].unitPrice | number:2}}</p>
                <p class="p-sale">已售{{good.salesNum}}件</p>
                <p class="p-name">{{good.name}}</p>
            </li>
        </ul>
    </div>-->
    <!--优惠专区入口-->
    <!--<div id="offer_entrance">
        <ul>
            <li><a href="">优惠专区</a></li>
            <li><a href="">优惠专区</a></li>
            <li><a href="">优惠专区</a></li>
            <li><a href="">优惠专区</a></li>
            <li><a href="">优惠专区</a></li>
            <li><a href="">优惠专区</a></li>
            <li><a href="">优惠专区</a></li>
            <li><a href="">优惠专区</a></li>
            <li><a href="">优惠专区</a></li>
            <li><a href="">优惠专区</a></li>
            <li><a href="">优惠专区</a></li>
            <li><a href="">优惠专区</a></li>
        </ul>
    </div>-->
    <!--<div id="see_more">
        <div class="hot_center">
            <h3 class="floor_tit">没有找到想要的商品？</h3>
        </div>
        <div class="floor_btn"><a href="#/square?where=more" target="_blank">查看更多优惠热卖</a></div>
    </div>-->
    <!--底部icon-->
    <div id="main_bottom">
        <div>
            <ul>
                <li>
                    <img src="images/www/img01.png" alt="">
                    <span><strong>海量商品</strong><br>集成主流电商,内置专业科教供应商<br>支持学校遴选优质协议供货</span>
                </li>
                <li>
                    <img src="images/www/img02.png" alt="">
                    <span><strong>优惠优价</strong><br>大客户专属价格优惠物流优惠<br>服务免费升级</span>
                </li>
                <li>
                    <img src="images/www/img03.png" alt="">
                    <span><strong>阳光合规</strong><br>关联采购计划,匹配校内经费卡<br>自定义校内订单审批流程</span>
                </li>
                <li>
                    <img src="images/www/img04.png" alt="">
                    <span><strong>支付结算</strong><br>货到付款/在线支付<br>财务集中结算支付,支持公务卡</span>
                </li>
                <li>
                    <img src="images/www/img05.png" alt="">
                    <span><strong>高效智能</strong><br>电子发票,电子合同<br>订单凭证、审批单、报账单</span>
                </li>
                <li>
                    <img src="images/www/img06.png" alt="">
                    <span><strong>入账报销</strong><br>资产验收入账"一键搞定"<br>建账、报账无需跑路</span>
                </li>
                <li>
                    <img src="images/www/img07.png" alt="">
                    <span><strong>安全可靠</strong><br>加密访问,数据隔离<br>全面支持交易快照</span>
                </li>
                <li>
                    <img src="images/www/img08.png" alt="">
                    <span><strong>内控监察</strong><br>杜绝虚假购买,全程留痕,随时备查<br>大数据分析,监督有力</span>
                </li>
            </ul>
        </div>
    </div>
</div>







