
<div class="sidebar_r">
                <h2 class="title">店铺商品动态评分</h2>
                <div class="main">
                    <div class="main-top">
                        <div class="main-top-img"></div>
                        <p>资深设计师  教育培训学校招生</p>
                    </div>
                    <div class="main-hr"></div>
                    <div class="main-bottom">
                        <div class="main-bottom-l">
                            <h2>对商家的评价</h2>
                            <ul>
                                <li>沟通顺畅</li>
                                <li>低于市场价</li>
                                <li>专业水平高</li>
                                <li>服务周到</li>
                                <li>质量好</li>
                                <li>好店铺赞一个</li>
                                <li>送货速度快</li>
                                <li>大公司值得信赖</li>
                                <li>下次再来购买</li>
                                <li>严谨认真</li>
                                <li>初稿速度快</li>
                                <li>细致耐心</li>
                                <li>专业</li>
                            </ul>
                        </div>
                        <div class="main-bottom-r">
                            <ul class="cleanfloat">
                                <li>服务态度</li>
                                <li class="icon icon-star3 active"></li>
                                <li class="icon icon-star3"></li>
                                <li class="icon icon-star3"></li>
                                <li class="icon icon-star3"></li>
                                <li class="icon icon-star3"></li>
                            </ul>

                            <ul class="cleanfloat">
                                <li>工作速度</li>
                                <li class="icon icon-star3"></li>
                                <li class="icon icon-star3"></li>
                                <li class="icon icon-star3"></li>
                                <li class="icon icon-star3"></li>
                                <li class="icon icon-star3"></li>
                            </ul>
                            <ul class="cleanfloat">
                                <li>完成质量</li>
                                <li class="icon icon-star3"></li>
                                <li class="icon icon-star3"></li>
                                <li class="icon icon-star3"></li>
                                <li class="icon icon-star3"></li>
                                <li class="icon icon-star3"></li>
                            </ul>
                            <textarea name="" id="" cols="80" rows="10" placeholder="最多输入200字"  maxlength="200"></textarea>
                        </div>
                        <button class="comment">发表评论</button>
                    </div>
                </div>
            </div>

