<div id="square">
       <div class="square_header">
           <!--左侧动态轮播图-->
            <div id="square_banner_l">
                <div class="inner">
                    <img src="https://img10.360buyimg.com/vsp/jfs/t22870/264/2358669077/242026/3f253c44/5b7d3c42N17b48934.jpg"  width="900"  height="488" >
                    <img src="https://img12.360buyimg.com/vsp/jfs/t24538/238/1265653614/339181/6a913bca/5b59a37aNe6500c0b.jpg"  width="900"  height="488" >
                    <img src="https://img13.360buyimg.com/vsp/jfs/t20323/5/1147316493/175507/188a2ee6/5b21df03N21132476.jpg"  width="900"  height="488" >
                    <img src="https://img12.360buyimg.com/vsp/jfs/t23968/173/2330626454/183247/d0ab7516/5b7a6269N04e5c22a.jpg"  width="900"  height="488" >
                </div>
                <ul>
                    <li><a href="" class="active"></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <a href="javascript:;" class="arrow" id="pre"><</a>
                <a href="javascript:;" class="arrow" id="next">></a>
            </div>
           <!--右侧优惠专区入口-->
            <div class="square_banner_r">
                <div><img src="https://img11.360buyimg.com/vsp/jfs/t22984/214/2428179817/25508/251294cd/5b7e7927Nf6e8d280.jpg"  width="280"  height="156"></div>
                <div class="banner_2"><img src="https://img13.360buyimg.com/vsp/jfs/t20302/235/366325528/14936/26f07161/5b0b8515Nf1e565dc.jpg"  width="280" height="156"></div>
                <div><img src="https://img30.360buyimg.com/vsp/jfs/t23674/217/2410844678/40616/c6235a2/5b7e7796N15847c2b.jpg" width="280"  height="156"></div>
            </div>
       </div>
    <!--订单动态-->
     <div class="square_column"  id="scroll">
         <ul>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
             <li>
                 <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                 <p>￥4,999.00</p>
             </li>
         </ul>
     </div>
    <!--推荐商品-->
    <div class="square_commend">
        <h2>推荐区</h2>
        <div  class="square_sibal_t">
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>
                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>
                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>
                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
        </div>
    </div>
</div>