<div id="square">
    <div class="square_header">
        <!--左侧动态轮播图-->
        <div id="square_banner_l">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#/sale?id=1&equre=pc&targetUrl=defalut" target="_blank"><img src="images/square/b01.jpg"  width="900"  height="488" ></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#/sale?id=2&equre=pc&targetUrl=defalut" target="_blank"><img src="images/square/b02.jpg"  width="900"  height="488" ></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#/sale?id=3&equre=pc&targetUrl=defalut" target="_blank"><img src="images/square/b03.jpg"  width="900"  height="488" ></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#/sale?id=4&equre=pc&targetUrl=defalut" target="_blank"><img src="images/square/b04.jpg"  width="900"  height="488" ></a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <!--右侧优惠专区入口-->
        <div class="square_banner_r">
            <div><a href="#/sale?id=5&equre=pc&targetUrl=defalut" target="_blank"><img src="images/square/b05.jpg"  width="280"  height="156"></a></div>
            <div class="banner_2"><a href="#/sale?id=6&equre=pc&targetUrl=defalut" target="_blank"><img src="images/square/b06.jpg"  width="280" height="156"></a></div>
            <div><a href="#/sale?id=7&equre=pc&targetUrl=defalut" target="_blank"><img src="images/square/b07.jpg" width="280"  height="156"></a></div>
        </div>
    </div>
    <!--商城动态订单-->
    <div class="scorll-orders" ng-show="hotOrders.length>0">
        <ul id="scroll">
            <li class="item-order" ng-repeat="good in hotOrders">
                <s class="save-p weight" ng-show="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) < 10" ng-bind="disCount(prices[good.productId].unitPrice/prices[good.productId].unitPriceShow) + '折'"></s>
                <a ng-href="/#/product/detail?mallId={{good.mallId}}&id={{good.productId}}" target="_blank"><img ng-src="{{good.pic}}" width="120" height="120"></a>
                <p class="p-price">¥ {{prices[good.productId].unitPrice | number:2}}</p>
                <p class="p-sale">已售{{good.salesNum}}件</p>
                <p class="p-name">{{good.name}}</p>
            </li>
        </ul>
    </div>
    <!--品牌馆-->
    <div class="square_brand">
        <h2 class="title-normal" style="background: #e9f7e1;">品牌馆</h2>
        <div class="brand-contents">
            <div class="brand">
                <img src="images/square/b08.jpg">
                <a href="#/sale?id=8&equre=pc&targetUrl=defalut" target="_blank"><div class="mask">戴尔专场</div></a>
            </div>
            <div class="brand">
                <img src="images/square/b09.jpg">
                <a href="#/sale?id=9&equre=pc&targetUrl=defalut" target="_blank"><div class="mask">苹果专场</div></a>
            </div>
            <div class="brand margin-right">
                <img src="images/square/b10.jpg">
                <a href="#/sale?id=10&equre=pc&targetUrl=defalut" target="_blank"><div class="mask">华为专场</div></a>
            </div>
            <div class="brand">
                <img src="images/square/b11.jpg">
                <a href="#/sale?id=11&equre=pc&targetUrl=defalut" target="_blank"><div class="mask">惠普专场</div></a>
            </div>
            <div class="brand">
                <img src="images/square/b12.jpg">
                <a href="#/sale?id=12&equre=pc&targetUrl=defalut" target="_blank"><div class="mask">松下专场</div></a>
            </div>
            <div class="brand margin-right">
                <img src="images/square/b13.jpg">
                <a href="#/channel?orgId={{orgId}}&mallId=JD" target="_blank"><div class="mask">更多品牌优惠</div></a>
            </div>
        </div>
    </div>
    <!--推荐商品-->
    <div class="square_commend">
        <h2 class="title-normal">值得买</h2>
        <div  class="square_sibal_t">
            <div class="square_l" ng-repeat="good in worthProts">
                <s class="save-p weight" ng-show="disCount(good.unitPrice/good.unitPriceShow)<10" ng-bind="disCount(good.unitPrice/good.unitPriceShow) + '折'"></s>
                <div class="col_img">
                    <a ng-href="#/product/detail?mallId={{good.mallId}}&id={{good.id}}" target="_blank"><img ng-src="{{good.pic}}"></a>
                </div>
                <div class="col_price">{{good.unitPrice | number:2}}</div>
                <p><s class="s-price">￥{{good.unitPriceShow | number:2}}</s></p>
                <div class="col_name">
                    <a title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">{{good.name}}</a>
                </div>
                <a class="addcar" ng-click="addGoods(good, 1)"><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
        </div>
    </div>
</div>