<div id="square">
    <div class="square_header">
        <!--左侧动态轮播图-->
        <div id="square_banner_l">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="images/square/b01.jpg"  width="900"  height="488" >
                    </div>
                    <div class="swiper-slide">
                        <img src="images/square/b02.jpg"  width="900"  height="488" >
                    </div>
                    <div class="swiper-slide">
                        <img src="images/square/b03.jpg"  width="900"  height="488" >
                    </div>
                    <div class="swiper-slide">
                        <img src="images/square/b04.jpg"  width="900"  height="488" >
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <!--右侧优惠专区入口-->
        <div class="square_banner_r">
            <div><img src="images/square/b05.jpg"  width="280"  height="156"></div>
            <div class="banner_2"><img src="images/square/b06.jpg"  width="280" height="156"></div>
            <div><img src="images/square/b07.jpg" width="280"  height="156"></div>
        </div>
    </div>
    <!--订单动态-->
     <div class="square_column-f">
         <h2 class="title title-order">热门订单</h2>
         <div class="square_column">
             <ul id="scroll">
                 <li>
                     <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                     <p class="p-price">¥90.00</p>
                     <p class="p-name">嗲而笔记本电脑丁零当啷的带来了</p>
                     <p>时间：2018-05-23</p>
                     <p>购买人：大川大学张老师</p>
                 </li>
                 <li>
                     <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                     <p class="p-price">¥90.00</p>
                     <p class="p-name">嗲而笔记本电脑丁零当啷的带来了</p>
                     <p class="color6">时间：2018-05-23</p>
                     <p class="color6">购买人：大川大学张老师</p>
                 </li>
                 <li>
                     <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                     <p class="p-price">¥90.00</p>
                     <p class="p-name">嗲而笔记本电脑丁零当啷的带来了</p>
                     <p class="color6">时间：2018-05-23</p>
                     <p class="color6">购买人：大川大学张老师</p>
                 </li>
                 <li>
                     <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                     <p class="p-price">¥90.00</p>
                     <p class="p-name">嗲而笔记本电脑丁零当啷的带来了</p>
                     <p class="color6">时间：2018-05-23</p>
                     <p class="color6">购买人：大川大学张老师</p>
                 </li>
                 <li>
                     <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                     <p class="p-price">¥90.00</p>
                     <p class="p-name">嗲而笔记本电脑丁零当啷的带来了</p>
                     <p class="color6">时间：2018-05-23</p>
                     <p class="color6">购买人：大川大学张老师</p>
                 </li>
                 <li>
                     <a href=""><img src="https://img13.360buyimg.com/n2/jfs/t2773/268/645082551/237995/31c3a5c5/571f170eN6f3cbf30.jpg"   width="120" height="120"></a>
                     <p class="p-price">¥90.00</p>
                     <p class="p-name">嗲而笔记本电脑丁零当啷的带来了</p>
                     <p class="color6">时间：2018-05-23</p>
                     <p class="color6">购买人：大川大学张老师</p>
                 </li>
             </ul>
         </div>
     </div>
    <!--推荐商品-->
    <div class="square_commend">
        <h2 class="title">值得购买</h2>
        <div  class="square_sibal_t">
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>
                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>
                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>

                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
            <div class="square_l">
                <div class="col_img">
                    <a href=""><img src="http://img13.360buyimg.com/n1/jfs/t4144/57/2024436508/230376/1c327549/58ca4e21N20745dd9.jpg"></a>
                </div>
                <div class="col_price">￥4,999.00</div>
                <p><s class="s-price">￥5,999.00</s></p>
                <div class="col_name">
                    <a href=""  title="联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色">联想ThinkPad E470c（01CD）14英寸笔记本电脑（i5-6200U 8G 256G SSD 2G独显 Win10）黑色</a>
                </div>
                <a  class="addcar"  href=""><i class="iconfont icon-shopping2"></i>加入购物车</a>
            </div>
        </div>
    </div>
</div>