
<div class="footer">
    <div class="go-screen wrap">
        <div class="footmenu">
            <a href="https://www.yuncaitong.cn">云采通首页</a>
            <i class="cutline">|</i>
            <a href="https://www.yuncaitong.cn/about/contact.shtml">联系方式</a>
            <i class="cutline">|</i>
            <a href="https://www.yuncaitong.cn/about/service.shtml">服务条款</a>
            <i class="cutline">|</i>
            <a href="https://www.yuncaitong.cn/about/privacy.shtml">法律声明</a>
            <i class="cutline">|</i>
            <a href="https://www.yuncaitong.cn/about/index.shtml">关于我们</a>
        </div>
        <div class="copyright">
            <p>
                <span>蜀ICP备13021457号-5</span>
                <span>北京云采通信息技术有限公司</span>
                <span>思必得软件</span>
            </p>
        </div>
        <div class="qr-code">
            <!--<div class="items">
                <img src="/images/qrcode_for_gh_902164f30ab4_258.jpg" />
                <span>掌握一手信息</span>
            </div>-->
            <div class="items">
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51010702000799" target="_blank">
                    <img src="/images/record.jpg" />
                    <span style="color: #b1b1b1">经营性网站备案</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--客服 -->
<div class="right-toolbar">
    <!--<div class="item width70"><p class="word">值得买</p></div>-->
    <div class="item code-f width70">
        <p class="word">小程序扫码</p>
        <div class="code">
            <img ng-src="{{global.mall.api + '/auths/wxQrCode?uuid=&type'}}" width="80" height="80">
        </div>
    </div>
    <div class="item width70" ng-show="surveyUrl" ng-click="toSurvey()"><p class="word">购前调研</p></div>
    <div class="item kefu width70">
        <i></i>
        <p class="word-dif">客服热线</p>
        <div class="tip tip-mall">
            <div class="phone">
                <p class="name">云采通</p>
                <p class="number"><span class="icon icon-dianhua"></span>400-101-0335（周一至周五：09:00 - 17:30）</p>
            </div>
            <div class="phone">
                <p class="name">京东频道</p>
                <p class="number"><span class="icon icon-dianhua"></span>400-606-6866（09:00 - 21:00）</p>
            </div>
            <!--<div class="phone">
                <p class="name">办公伙伴</p>
                <p class="number"><span class="icon icon-dianhua"></span>028-66612000（周一到周五：9:00-18:00）</p>
            </div>-->
            <div class="phone">
                <p class="name">商城技术服务</p>
                <p class="number"><span class="icon icon-QQ font18"></span><a class="color3" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=804314819&site=qq&menu=yes">在线QQ：804314819</a></p>
            </div>
        </div>
    </div>
    <div class="item width70 back-top" id="backTop" ng-click="toWindowTop()">
        <i></i>
        <p class="word-dif">TOP</p>
    </div>
</div>
