<style>
    .mall-name {line-height: 30px;}
</style>
<div id="cheng-poor">
    <div class="body_fp">
        <div class="banner_bgc"></div>
        <div class="warpper">
            <div class="cont_message">
                <div class="cont_title">
                    <h1>四川大学对口帮扶甘洛县斯觉镇格布村</h1>
                    <p>格布村地处甘洛县斯觉镇西南部，距甘洛县城34公里（1.5小时车程），平均海拔1700米，年均气温16度，属二半山区。全村辖4个村民小组（阿呷一组、阿呷二组、新民组、格布组），共有农业人口268户、1478人（其中低保户73户236人、贫困建档户151户，724人、残疾17人、劳动力603人）。村两委班子6人，党员30人。全村共有耕地面积738亩，林地面积1035亩，牧草地面积1023亩。格布村边远偏僻，土地贫瘠，无矿产资源和第三产业，主产水稻、玉米、土豆等，主要经济收入以水稻、家禽家畜和外出务工。村委会无经济实体和经济来源，村干部工资及办公费用全靠财政转移支付资金保障。家庭年人均纯收入3000元。</p>
                </div>
            </div>
            <div class="cont_hq"><img src="images/helper/hq.png" alt=""></div>
        </div>
        <!-- 动态轮播图效果 -->
        <div class="cont_img">
            <div class="swiper-container  swiper-container1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="images/helper/poverty_img4.jpg"></div>
                    <div class="swiper-slide"><img src="images/helper/poverty_img6.jpg"></div>
                    <div class="swiper-slide"><img src="images/helper/poverty_img1.jpg"></div>
                    <div class="swiper-slide"><img src="images/helper/poverty_img2.jpg"></div>
                    <div class="swiper-slide"><img src="images/helper/poverty_img15.jpg"></div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-container  swiper-container2">
                <div class="swiper-wrapper  swiper-slide1_1">
                    <div class="swiper-slide"><img src="images/helper/poverty_img26.jpg"></div>
                    <div class="swiper-slide"><img src="images/helper/poverty_img17.jpg"></div>
                </div>
            </div>
            <div class="swiper-container  swiper-container3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="images/helper/poverty_img13.jpg"></div>
                    <div class="swiper-slide"><img src="images/helper/poverty_img25.jpg"></div>
                    <div class="swiper-slide"><img src="images/helper/poverty_img33.jpg"></div>
                    <div class="swiper-slide"><img src="images/helper/poverty_img22.jpg"></div>
                    <div class="swiper-slide"><img src="images/helper/poverty_img12.jpg"></div>
                </div>
            </div>
        </div>
        <div class="column">
            <h1>来自大山深处的<span>&nbsp;&nbsp;诚意精选</span></h1>
            <div class="column01" ng-repeat="good in helpPrts">
                <div class="column_l"><img ng-src="{{good.pic}}"></div>
                <div class="column_r">
                    <h2>{{good.name}}</h2>
                    <p>{{good.summary}}</p>
                   
                    <div class="column_b">
                        <div class="column_b_l">
                            <span ng-show="prices[good.productId].hasOwnProperty('unitPrice')"><strong>¥{{prices[good.productId].unitPrice}}</strong><s>¥{{prices[good.productId].unitPriceShow}}</s></span>
                            <span ng-show="prices[good.productId].priceStatus=='notLogin'">登录显示价格</span>
                        </div>
                        <div class="column_b_r" ng-click="addGoods(good, 1)">
                            <a>加入购物车</a>
                        </div>
                        <div class="column_b_r mr10 to-detail">
                            <a target="_blank" ng-href="{{'/#/product/detail?mallId='+good.mallId+'&id='+good.productId}}">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>