<div class="logins" ng-if="canBind">
    <div class="main-content">
        <i class="close-login icon icon-close1" ng-click="closeBindOwn()"></i>
        <div class="content-item" ng-hide="alreadyScan || bindSucces">
            <div class="header">
                <span class="title titleActive">绑定微信</span>
                <s class="split">|</s>
                <!--<span class="title">绑定手机</span>-->
            </div>
            <div class="bind-content">
                <div class="code">
                    <img ng-src="{{codeImg}}" width="170" height="170">
                </div>
                <div class="mt20 align-c font14">打开<span class="colorRed weight">&nbsp;手机微信&nbsp;</span>扫码绑定</div>
                <!--<div class="mt20 align-c font14">打开<span class="colorRed weight">&nbsp;手机微信&nbsp;</span>扫码登录</div>-->
                <div class="tips">
                    <span><i class="icon icon-shuru1"></i>免输入</span>
                    <span>&nbsp;<i class="icon icon-shandian"></i>更快</span>
                    <span><i class="icon icon-anquan3"></i>更安全</span>
                </div>
            </div>
            <div class="footer">
               <!-- <span class="weight">职工号登录：</span><a>点此去登录 >></a>-->
            </div>
            <!--二维码失效-->
            <div class="mask" ng-show="codeOut">
                <p class="detail">{{msg}}</p>
                <span class="new" ng-click="refresh()">点击刷新</span>
                <!--<div class="new">
                    <img class="loading" src="images/loading.gif">
                </div>-->
            </div>
        </div>
        <!--扫码接受在手机端确认-->
        <div class="content-item" ng-show="alreadyScan">
            <i class="success sweep-success icon icon-roundcheck"></i>
            <p class="success-word">已扫码</p>
        </div>
        <div class="content-item" ng-show="bindSucces">
            <i class="success login-success icon icon-roundcheck"></i>
            <p class="success-word">绑定成功</p>
        </div>
        <!--手机绑定-->
        <div class="content-mobile"></div>
    </div>

</div>