<div id="login-bind">
    <div class="content">
        <div class="header">
            <span class="title titleActive">扫码登录</span>
            <s class="split">|</s>
            <span class="title">手机登录</span>
            <i class="icon icon-close1"></i>
        </div>
        <div class="bind-content">
            <!--<a class="how" target="_blank" ng-href="{{'/#/bind'}}">
                <i class="iconfont icon-ruheshiyong"></i>如何绑定资采通
            </a>
            <div class="align-c color3">如果您已绑定「资采通」请打开&nbsp;<span class="weight colorRed">手机微信</span>&nbsp;扫码登录</div>-->
            <div class="code">
                <img src="images/add.png" width="170" height="170">
            </div>
        </div>
    </div>
</div>